---
import MainLayout from '../layouts/MainLayout.astro';
import Link from '../components/Link.astro';
import TableOfContents from '../components/TableOfContents.astro';
const title = 'Map Theme - Cities Skylines Modding';
import ResponsiveImage from '../components/ResponsiveImage.astro';
import { images } from '../data/imageImports.js';
---

<MainLayout title={title}>
	<TableOfContents />
	<section class="py-12 sm:ml-64 xl:mr-64 text-lg text-hit-gray-500">
		<h1 id="overview" class="border-b-4 border-hit-gray-600 pb-8 text-4xl font-bold text-hit-gray-400">Map Theme</h1>
		<div class="content">
			<h2 class="border-b-2 border-hit-gray-600 mt-24 pb-8 text-4xl font-medium text-hit-gray-400" id="environment">Environment</h2>
			<p class="mt-4">
				Affects the cubemap which is visible in the water and highly specular asset reflections. Also affects the availability of some environment-specific
				vanilla assets.
			</p>
			<h2 class="border-b-2 border-hit-gray-600 mt-24 pb-8 text-4xl font-medium text-hit-gray-400" id="terrain-properties">Terrain Properties</h2>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="textures">Textures</h3>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="folder">Folder</h4>
			<p class="mt-4">The folder where you should put the textures for importing is located here:</p>
			<p class="mt-4"><span class="path">%LocalAppData%\Colossal Order\Cities_Skylines\Addons\ThemeEditor\ThemeTextures</span></p>
			<p class="mt-4">
				The AppData folder is hidden by default, you can access it by copying and pasting the path into the file explorer, or pressing <span class="key"
					>Windows + R</span
				> and typing in appdata.
			</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="resolution">Resolution</h4>
			<p class="mt-4">Map theme textures are usually 1024x1024, 2048x2048 or 4096x4096.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="format">Format</h4>
			<p class="mt-4">Use a lossless format like .PNG.</p>
			<p class="mt-4">
				The game supports other formats as well, but there is no reason to use another one, it doesn't matter how much your texture is compressed or even if
				it's completely solid or complicated, the game will convert it to a DXT format, so the final size won't be affected by anything other than resolution.
			</p>
			<p class="mt-4">
				Make sure the texture is 8 bits/channel because a 16 bits/channel image can't be imported. Do not use the "Smaller File (8-bit)" feature in the
				Photoshop Export As window, as that creates an indexed color image, not an 8 bits/channel one.
			</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="grass">Grass</h4>
			<p class="mt-4">The main texture of grass, transparency controls how much the grass texture is affected by the grass color offsets.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="ruined">Ruined</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>
						Appears near buildings, some props, networks, and hills which are not steep enough for the cliff texture to be visible. Also visible near pavement
						surface and can also be painted using surface painter. Also visible under sand, if the opacity of the sand texture is low enough. The opacity is
						usually very high.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/ruined.jpg" target="_blank">
						<ResponsiveImage
							src={images.ruined}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of ruined texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of ruined texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="cliff">Cliff</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>Visible if the terrain is steep enough. Usually high opacity.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/cliff.jpg" target="_blank">
						<ResponsiveImage
							src={images.cliff}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of cliff texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of cliff texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="cliff-normal">Cliff Normal</h4>
			<p class="mt-4">
				Adds bump to the cliff texture. <Link
					classes=""
					href="/normal-maps/"
					text="Requires a flipped green channel compared to the normal map standard"
					theme="internallink"
				/>.
			</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="sand">Sand</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>
						Can be painted. If the opacity is low, the ruined texture might be visible before the sand becomes fully visible. Can't coexist with the fertile
						color.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/sand.jpg" target="_blank">
						<ResponsiveImage
							src={images.sand}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of sand texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of sand texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="sand-normal">Sand Normal</h4>
			<p class="mt-4">
				Adds bump to the sand texture. <Link
					classes=""
					href="/normal-maps/"
					text="Requires a flipped green channel compared to the normal map standard"
					theme="internallink"
				/>.
			</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="pavement">Pavement</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>
						Appears as surface paint on buildings, networks, or when painted using surface painter. Also can appear on network bridges using the bridge shader.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/pavement.jpg" target="_blank">
						<ResponsiveImage
							src={images.pavement}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of pavement texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of pavement texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="gravel">Gravel</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>
						Appears as surface paint on buildings, networks, or when painted using surface painter. Also can appear on network bridges using the rail shader.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/gravel.jpg" target="_blank">
						<ResponsiveImage
							src={images.gravel}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of gravel texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of gravel texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="oil">Oil</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>Can be painted using the resource brush. Half-transparent by default, unless it's very bright. Can't coexist with ore.</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/oilore.jpg" target="_blank">
						<ResponsiveImage
							src={images.oilore}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of oil and ore texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of oil and ore textures.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="ore">Ore</h4>
			<p class="mt-4">Can be painted using the resource brush. Half-transparent by default, unless it's very bright. Can't coexist with oil</p>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="grass-color-offsets">Grass Color Offsets</h3><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>Colors which affect the grass texture based on its opacity.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/colors.jpg" target="_blank">
						<ResponsiveImage
							src={images.colors}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of color offsets"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of color offsets.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="pollution">Pollution</h4>
			<p class="mt-4">Appears where there is ground pollution.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="field">Field</h4>
			<p class="mt-4">Appears as surface paint on buildings, or when painted using surface painter.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="fertility">Fertility</h4>
			<p class="mt-4">Appears when painted using the fertile resource brush. Can't coexist with sand.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="forest">Forest</h4>
			<p class="mt-4">Appears where there are trees.</p>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="geometry-details">Geometry Details</h3><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>2D sprites which are visible on the terrain.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/sprites.jpg" target="_blank">
						<ResponsiveImage
							src={images.sprites}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of sprites"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of sprites.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="grass-1">Grass</h4>
			<p class="mt-4">Visible on normal grass.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="fertile">Fertile</h4>
			<p class="mt-4">Visible on fertile resource paint.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="rocks">Rocks</h4>
			<p class="mt-4">Visible on cliffs and gravel.</p>
			<h2 class="border-b-2 border-hit-gray-600 mt-24 pb-8 text-4xl font-medium text-hit-gray-400" id="water-properties">Water Properties</h2>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="textures-1">Textures</h3>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="water-normal">Water Normal</h4>
			<p class="mt-4">Constantly fades between the normal and a flipped and rotated version.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="water-foam">Water Foam</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>
						The red channel controls the normal foam when the water is moving. The green channel controls the foam on polluted water. It's safe to import a
						simple black &amp; white foam texture.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/watertextures.jpg" target="_blank">
						<ResponsiveImage
							src={images.watertextures}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of water normal and foam"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of water normal and foam.</p>
				</div>
			</div>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="water-colors">Water Colors</h3>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="clean">Clean</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>Deep water.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/watercolors.jpg" target="_blank">
						<ResponsiveImage
							src={images.watercolors}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of water colors"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of water colors.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="dirty">Dirty</h4>
			<p class="mt-4">Polluted water.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="underwater">Underwater</h4>
			<p class="mt-4">Shallow water.</p>
			<h2 class="border-b-2 border-hit-gray-600 mt-24 pb-8 text-4xl font-medium text-hit-gray-400" id="atmosphere-properties">Atmosphere Properties</h2>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="sun">Sun</h3>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="longitude-latitude">Longitude &amp; Latitude</h4>
			<p class="mt-4">Placement of the sun.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="anisotropy">Anisotropy</h4>
			<p class="mt-4">Affects the highlight falloff of the sun, and also affects the fog.</p>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="moon">Moon</h3>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="inner-corona">Inner Corona</h4>
			<p class="mt-4">Color and intensity of the small highlight of the moon.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="outer-corona">Outer Corona</h4>
			<p class="mt-4">Color and intensity of the big highlight of the moon.</p>
			<h3 class="mt-16 text-2xl text-hit-gray-400 font-semibold border-b border-hit-gray-500 pb-4" id="sky">Sky</h3>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="rayleigh-scattering">Rayleigh Scattering</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>
						Affects the scattering of blue light. 0 means no blue light is scattered so the sky will be black. High values mean blue light is scattered a lot,
						therefore sunsets and sunrises will be very red.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/rayleigh.jpg" target="_blank">
						<ResponsiveImage
							src={images.rayleigh}
							naturalHeight={367}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of Rayleigh scattering"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of Rayleigh scattering.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="mie-scattering">Mie Scattering</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>Affects the visibility of the sun and fog.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/mie.jpg" target="_blank">
						<ResponsiveImage
							src={images.mie}
							naturalHeight={304}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of Mie scattering"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of Mie scattering.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="stars-intensity">Stars Intensity</h4>
			<p class="mt-4">Affects the visibility of the stars at night.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="outer-space-intensity">Outer Space Intensity</h4>
			<p class="mt-4">Affects the visibility of the night space cubemap.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="exposure">Exposure</h4>
			<p class="mt-4">Affects the brightness of ambient light.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="sky-tint">Sky Tint</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3">
					<p>Tints the color of the sky and ambient light. Note that sunsets and sunrises will be tinted the opposite of this color.</p>
				</div><div class="lg:w-1/3">
					<a href="/images/theme/skytint.jpg" target="_blank">
						<ResponsiveImage
							src={images.skytint}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of sky tint"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of sky tint.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="night-horizon-color">Night Horizon Color</h4>
			<p class="mt-4">The color of the horizon during the night.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="early-night-zenith-color">
				Early Night Zenith Color
			</h4>
			<p class="mt-4">Tints the sky and ambient light during mornings and evenings.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="late-night-zenith-color">
				Late Night Zenith Color
			</h4>
			<p class="mt-4">Tints the sky and ambient light during the night.</p>
			<h2 class="border-b-2 border-hit-gray-600 mt-24 pb-8 text-4xl font-medium text-hit-gray-400" id="structures-properties">Structures Properties</h2>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="upward-road">Upward Road</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>Asphalt texture which gets multiplied by the road segment color.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/road.jpg" target="_blank">
						<ResponsiveImage
							src={images.road}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of asphalt texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of asphalt texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="downward-road">Downward Road</h4>
			<p class="mt-4">Unknown, likely not used.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="building-base">Building Base</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>The texture of the underground parts of buildings.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/base.jpg" target="_blank">
						<ResponsiveImage
							src={images.base}
							naturalHeight={540}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of base texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of base texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="building-base-normal">Building Base Normal</h4>
			<p class="mt-4">
				Adds bump to the underground parts of buildings. Doesn't import correctly normally, requires an image which has the X channel of the normal map gamma
				lifted and applied to each RGB channel, but the Y channel as the opacity. You can convert a <Link
					classes=""
					href="/normal-maps/"
					text="regular normal map which has no inverted channels"
					theme="internallink"
				/> to this using <Link
					classes=""
					href="https://drive.google.com/open?id=0B6Ccf1N5h5f7YnhsXzVzVmFnR1E"
					text="this Photoshop action"
					theme="externallink"
				/>.
			</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="burnt-building">Burnt Building</h4>
			<p class="mt-4">Used for buildings which are burned down.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="abandoned-building">Abandoned Building</h4>
			<p class="mt-4">Used for buildings which are abandoned.</p>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="floor">Floor</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>Used for fake interiors inside building windows.</p></div><div class="lg:w-1/3">
					<a href="/images/theme/floor.jpg" target="_blank">
						<ResponsiveImage
							src={images.floor}
							naturalHeight={538}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of floor texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of floor texture.</p>
				</div>
			</div>
			<h4 class="text-xl text-hit-gray-400 font-medium border-b border-hit-gray-950 pb-4 mt-8 lg:mt-12" id="light-color-palette">Light Color Palette</h4><div
				class="flex flex-col lg:flex-row gap-6 mt-4"
			>
				<div class="lg:w-2/3"><p>Each building samples a random color from this texture to use for window illumination during the night.</p></div><div
					class="lg:w-1/3"
				>
					<a href="/images/theme/light.jpg" target="_blank">
						<ResponsiveImage
							src={images.light}
							naturalHeight={538}
							naturalWidth={960}
							srcWidths={[300, 400, 500, 600, 800, 900]}
							alt="Example of light texture"
							format="webp"
							sizes="(min-width: 1440px) 248px, (min-width: 1200px) 183px, (min-width: 1000px) 205px, (min-width: 780px) 448px, (min-width: 580px) 276px, calc(100vw - 48px)"
							class="h-auto w-full aspect-video object-cover"
							loading="eager"
						/></a
					><p class="explanation">Example of light texture.</p>
				</div>
			</div>
			<h2 class="border-b-2 border-hit-gray-600 mt-24 pb-8 text-4xl font-medium text-hit-gray-400" id="script">Script</h2>
			<p class="mt-4">
				You can change textures, tiling and colors related to map themes ingame using <Link
					classes=""
					href="https://gist.github.com/ronyx69/57ccb881d26ce57b5cb908f71e2b3383"
					text="this script"
					theme="externallink"
				/>.
			</p>
		</div>
	</section>
</MainLayout>
