---
import MainLayout from '../../layouts/MainLayout.astro';
import Link from '../../components/Link.astro';
import { Picture } from 'astro:assets';
import TableOfContents from '../../components/TableOfContents.astro';
import { images } from '../../data/imageImports.js';

const title = 'Building Asset Creation - Cities Skylines Modding';
---

<MainLayout title={title}>
	<TableOfContents />
	<section class="pt-12 pb-48 sm:ml-64 xl:mr-64">
		<h1 id="overview" class="border-b-4 border-hit-gray-600 pb-8 text-4xl font-bold text-hit-gray-400">Building Asset Creation</h1>

		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="mesh">
			<a href="#mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Mesh</a>
		</h2>
		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="main-mesh">
			<a href="#main-mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Main Mesh</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			This is a 3D model of the building, which will be visible when the camera is close to it. The actual mesh file contains vertices
			(their coordinates, UV mapping, normals, and colors) and triangles.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">It's created using 3D modeling software such as Blender, 3ds Max, Maya or SketchUp.</p>

		<!-- ?MINI-SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="model-complexity">
			<a
				href="#model-complexity"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Model Complexity</a
			>
		</h4>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<!-- ?left -->
			<div class="lg:w-2/3">
				<p class="text-lg text-hit-gray-500">
					It's recommended to stay within reasonable triangle counts based on the size and detail of your model. You may look at
					examples of vanilla buildings or assets by other creators for reference.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">The absolute limit for a mesh is 65536 vertices.</p>
			</div>
			<!-- ?right -->
			<div class="lg:w-1/3">
				<a href="/images/asset/building/tris.jpg" target="_blank">
					<Picture
						src={images.tris}
						width={images.tris.width / 4}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Triangle counts of some vanilla buildings"
						format="webp"
						class="h-auto w-full hover:scale-150 transition duration-500 cursor-pointer"
						loading="eager"
					/></a
				>
				<p class="explanation">Triangle counts of some vanilla buildings.</p>
			</div>
		</div>
		<!-- TODO: div info -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
				viewBox="0 0 32 32">
				<path
					d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
				></path>
			</svg>

			<p class="text-lg text-hit-gray-500 italic">
				You can use <Link
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=453956891"
					theme="externallink"
					text="Mesh Info by SamsamTS"
					classes=""
				/> to check triangle counts of assets.
			</p>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lod-mesh">
			<a href="#lod-mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>LOD Mesh</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<!-- ?left -->
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					LOD stands for level of detail. This is the mesh visible from a distance. It must be as simple as possible.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					If you don't provide an LOD mesh, the game will try to generate one automatically, which may have visual issues, so it's
					highly recommended to make a custom LOD using baking.
				</p>
			</div>
			<!-- ?right -->
			<div class="lg:w-1/3">
				<a href="/images/asset/building/lodmesh.jpg" target="_blank">
					<Picture
						src={images.lodmesh}
						width={images.lodmesh.width / 4}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Comparison between main and LOD meshes for a large and small building."
						class="h-auto w-full"
					/></a
				>
				<p class="explanation">Comparison between main and LOD meshes for a large and small building.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="uv-mapping">
			<a href="#uv-mapping" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>UV Mapping</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<p class="text-lg mt-4 text-hit-gray-500 lg:w-2/3">
				For the main mesh, you are allowed to UV map outside the 0-1 area (main tile), so you can tile the entire texture multiple
				times on a single face.
			</p>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/uv_main.jpg" target="_blank"
					><Picture
						src={images.uv_main}
						width={images.uv_main.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Example UV mapping using visible horizontal tiling on the bottom"
						class="h-auto w-full"
					/></a
				>
				<p class="explanation">Example UV mapping using visible horizontal tiling on the bottom.</p>
			</div>
		</div>

		<!-- ?MINI-SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="uv-mapping-lod">
			<a href="#uv-mapping-lod" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>LOD</a
			>
		</h4>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<p class="text-lg mt-4 text-hit-gray-500 lg:w-2/3">
				For the LOD mesh, the UV mapping must be within the 0-1 area (main tile) of the UV map, no tiling is allowed. This is
				because ingame all the LOD textures are combined into a single texture called an atlas, so having incorrect uv mapping will
				end up putting the texture of some other random building on your LOD.
			</p>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/uv_lod.jpg" target="_blank"
					><Picture
						src={images.uv_lod}
						width={images.uv_lod.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="UV mapping for LOD mesh using automatic mapping in 3ds Max"
						class="h-auto w-full"
					/></a
				>
				<p class="explanation">
					UV mapping for LOD mesh using automatic mapping in 3ds Max. No overlap and contained within the main tile - good for
					baking.
				</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="pivot-origin">
			<a href="#pivot-origin" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Pivot / Origin</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			The pivot point or origin represents the center point on the ground of the lot. It's usually represented using a red/green/blue
			axis gizmo.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="transform">
			<a href="#transform" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Transform</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Make sure you are exporting a single object, which doesn't have any rotation or scale.<br />This can be done using
			<Link
				href="https://wiki.blender.org/index.php/User:Fade/Doc:2.6/Manual/3D_interaction/Transform_Control/Reset_Object_Transformations#Apply_Object_transformations"
				theme="externallink"
				text='"apply rotation & scale" in Blender'
				classes=""
			/>, or
			<Link
				href="https://knowledge.autodesk.com/support/3ds-max/learn-explore/caas/CloudHelp/cloudhelp/2017/ENU/3DSMax/files/GUID-B98414B9-4F28-45F4-A1F4-9DA994548ED9-htm.html"
				theme="externallink"
				text='"reset xform" in 3ds Max'
				classes=""
			/>, and exporting only the selected object.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="vertex-paint">
			<a href="#vertex-paint" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Vertex Paint</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">The vertex color blue channel determines snow behavior on winter maps:</p>
				<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
					<li class="mt-4">128 means 3D snow will not be generated<br /></li>
					<li class="mt-4">0 means no snow will be visible at all</li>
				</ul>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/vertexpaint.jpg" target="_blank"
					><Picture
						src={images.vertexpaint}
						width={images.vertexpaint.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Vertex painting in 3ds Max"
						class="h-auto w-full"
					/></a
				>
				<p class="explanation">Vertex painting in 3ds Max.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="formats">
			<a href="#formats" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Formats</a
			>
		</h3>
		<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
			<li class="mt-4">FBX (2015 or older) (most commonly used)</li>
			<li class="mt-4">OBJ (doesn't support vertex colors)</li>
			<li class="mt-4">DAE</li>
		</ul>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="textures">
			<a href="#textures" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Textures</a
			>
		</h2>
		<p class="text-lg mt-4 text-hit-gray-500">These determine the color and material properties of your building.</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="resolution">
			<a href="#resolution" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Resolution</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">All imported main textures must be the same resolution.</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					Powers of 2 is a standard practice in 3D graphics, which means resolutions such as 1024x1024, 1024x512, 256x512,
					2048x128 etc. It is recommended to stick to this standard, otherwise, your texture may be corrupted by compression,
					which may be more visible at longer distances or grazing angles. The smallest allowed resolution is 32x32.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/textures.jpg" target="_blank">
					<Picture
						src={images.textures}
						width={images.textures.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Texture sizes of various vanilla buildings"
						class="h-auto w-full"
					/></a
				>
				<p class="explanation">
					Texture sizes of various vanilla buildings. (Not to scale) See resolution in the top right corner of the preview window.
				</p>
			</div>
		</div>
		<!-- TODO: div warning -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8 text-orange flex-shrink-0">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				></path>
			</svg>
			<p class="text-lg text-hit-gray-500 italic">
				Make sure texture quality is set to high in the game's graphics settings, otherwise, your imported textures will be
				downscaled to a lower resolution.
			</p>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lod-textures">
			<a href="#lod-textures" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>LOD Textures</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">All imported LOD textures must be the same resolution.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			If you don't provide LOD textures, the game will try to bake them using the UV mapping your LOD mesh has, and that may cause
			visual issues, so it's recommended that you create your own LOD textures using baking.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="diffuse">
			<a href="#diffuse" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Diffuse</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">The main color and texture of your asset.</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					It will look very bright, contrasty, and saturated in the game, so make sure to reduce the saturation and limit the
					brightest parts to a medium/light gray below 140 RGB.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">If you don't import a diffuse map, it will default to white.</p>
			</div>
			<div class="lg:w-1/3">
				<div>
					<a href="/images/asset/building/textures_diffuse.jpg" target="_blank"
						><Picture
							src={images.textures_diffuse}
							alt="Example diffuse texture for a warehouse"
							class="h-auto w-full"
							width={images.textures_diffuse.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
						/></a
					>
					<p class="explanation">Example diffuse texture for a warehouse.</p>
				</div>
				<div class="mt-4">
					<a href="/images/asset/building/color_guidelines.png" target="_blank"
						><Picture
							src={images.color_guidelines}
							alt="Color guidelines"
							width={images.color_guidelines.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							class="h-auto w-full"
						/></a
					>
					<p class="explanation">Color guidelines.</p>
				</div>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="alpha">
			<a href="#alpha" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Alpha</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					Transparency, white means opaque or visible, black means transparent or invisible. Gray values may affect how it looks
					from a distance or at an angle.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					Semi-transparency is not supported, you need to use the
					<Link href="https://cslmodding.info/shader/rotors/" theme="externallink" text="rotors shader" classes="" /> for that.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					If you don't import an alpha map, it will default to fully opaque or fully visible.
				</p>
			</div>
			<div class="lg:w-1/3">
				<div>
					<a href="/images/asset/building/textures_alpha.jpg" target="_blank"
						><Picture
							src={images.textures_alpha}
							width={images.textures_alpha.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							alt="Example alpha texture for some railings and metal beams"
							class="h-auto w-full"
						/></a
					>
					<p class="explanation">Example alpha texture for some railings and metal beams.</p>
				</div>
				<div class="mt-4">
					<a href="/images/asset/building/textures_alpha_rail.jpg" target="_blank">
						<Picture
							src={images.textures_alpha_rail}
							width={images.textures_alpha_rail.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							alt="Example alpha texture for some railings and metal beams"
							class="h-auto w-full"
						/></a
					>
					<p class="explanation">
						Using lighter values for the invisible parts will decrease the chance of small details like railings disappearing
						completely.
					</p>
				</div>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="color">
			<a href="#color" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Color</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Determines which parts will be affected by color variations. White means fully affected and black means not at all.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			The diffuse will get multiplied by the color variation, that means the resulting color will look darker than the original
			diffuse.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			If you don't import a color map, it will default to full color, but the "use color variations" setting must be enabled for the
			colors to appear.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="illumination">
			<a href="#illumination" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Illumination</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Buildings can have two different types of illumination - diffuse contribution illumination in the 0-120 range, which is almost
			never used, and random night window illumination in the 128-255 range, which is what most buildings use.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">If you don't import an illumination map, it will default to no illumination.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="random-night-windows">
			<a
				href="#random-night-windows"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Random Night Windows</a
			>
		</h4>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">Colors for randomly illuminated night windows:</p>
				<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
					<li class="mt-4">192 (Neutral Background Color)</li>
					<li class="mt-4">192-128 Inverted (First Set of Windows)</li>
					<li class="mt-4">192-255 (Second Set of Windows)</li>
				</ul>
				<p class="text-lg mt-4 text-hit-gray-500">
					You can create a black and white illumination texture and use a levels adjustment to set the output colors so that black
					becomes 192 and white becomes 128 for one set of windows, and black becomes 192 and white becomes 255 for the other set.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/textures_illumination.jpg" target="_blank"
					><Picture
						src={images.textures_illumination}
						width={images.textures_illumination.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Example illumination map showing both gradients"
						class="h-auto w-full"
						loading="eager"
					/></a
				>
				<p class="explanation">
					Example illumination map showing both gradients.<br />192-128 inverted (bottom)<br />192-255 (top).
				</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="diffuse-contribution">
			<a
				href="#diffuse-contribution"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Diffuse Contribution</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			0-120 is always turned on illumination based on the diffuse. It's not recommended to mix the two different types of illumination
			on one texture as it can create aliasing problems.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="specular">
			<a href="#specular" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Specular</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					Reflectivity, bright values(above 80% or 205 RGB) will become "windows" where the fake interior floor will be visible.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					The specular highlight from the sun is very big and bright, so you might want to use very low (0-10%) specularity for
					surfaces facing upwards, like roofs.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">If you don't import a specular map, it will default to no specularity.</p>
			</div>
			<div class="lg:w-1/3">
				<div>
					<a href="/images/asset/building/textures_specular.jpg" target="_blank"
						><Picture
							src={images.textures_specular}
							width={images.textures_specular.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							alt="Example specular map showing high values for windows and very low values for the rest"
							class="h-auto w-full"
						/></a
					>
					<p class="explanation">Example specular map showing high values for windows and very low values for the rest.</p>
				</div>
				<div class="mt-4">
					<a href="/images/asset/building/textures_specular_transition.jpg" target="_blank"
						><Picture
							src={images.textures_specular_transition}
							width={images.textures_specular_transition.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							alt="Transitions between different specular values produce artifacts on the normal map and vice versa"
							class="h-auto w-full"
						/></a
					>
					<p class="explanation">
						Transitions between different specular values produce artifacts on the normal map and vice versa, even if a normal
						map is not imported.
					</p>
				</div>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="normal">
			<a href="#normal" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Normal</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					Also sometimes called a bump map, adds fake depth or form by affecting how the lighting appears.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					This can be made from the diffuse or a height map (brighter colors will look extruded out more) using
					<Link
						href="http://cpetry.github.io/NormalMap-Online/"
						theme="externallink"
						text="a normal map generator online"
						classes=""
					/> , a photoshop plugin like
					<Link href="http://www.xnormal.net/" theme="externallink" text="xNormal" classes="" /> , or standalone software such as
					<Link href="https://www.crazybump.com/" theme="externallink" text="CrazyBump" classes="" />.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					The normal map generator should be set to +X +Y, which means no color channel inversions are required. Read more in the
					<Link href="https://cslmodding.info/normal-maps/" theme="externallink" text="normal map article" classes="" />.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					High specularity and normal map don't work well together because of the compression, so you might want to paint over
					your windows and other shiny parts with a solid color before generating a normal map or paint over these parts
					128,128,255 on the final normal map.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					If you don't import a normal map, it will default to a flat normal map - no bump.
				</p>
			</div>
			<div class="lg:w-1/3">
				<div>
					<a href="/images/asset/building/textures_normal.jpg" target="_blank"
						><Picture
							src={images.textures_normal}
							width={images.textures_normal.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							alt="Example normal map showing flat windows"
							class="h-auto w-full"
						/></a
					>
					<p class="explanation">Example normal map showing flat windows.</p>
				</div>
				<div class="mt-4">
					<a href="/images/asset/building/textures_normal_problem.jpg" target="_blank"
						><Picture
							src={images.textures_normal_problem}
							width={images.textures_normal_problem.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							alt="Example normal map problem"
							class="h-auto w-full"
						/></a
					>
					<p class="explanation">Problem: normal maps appear incorrectly if the asset importer mesh rotation feature is used.</p>
				</div>
				<div class="mt-4">
					<a href="/images/asset/building/textures_normal_problem2.jpg" target="_blank">
						<Picture
							src={images.textures_normal_problem2}
							width={images.textures_normal_problem2.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							alt="Image shows the same flat normal map on faces with different UV rotation/flip"
							class="h-auto w-full"
						/>
					</a>
					<p class="explanation">
						Problem: default normal map value is 0.5, which isn't possible by using 127(left) or 128(right). Image shows the
						same flat normal map on faces with different UV rotation/flip.
					</p>
				</div>
			</div>
		</div>

		<!-- !SECTION -->

		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="format">
			<a href="#format" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Format</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">Use a lossless format like .PNG.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			The game supports other formats as well, but there is no reason to use another one, it doesn't matter how much your texture is
			compressed or even if it's completely solid or complicated, the game will convert it to a DXT format, so the final size won't be
			affected by anything other than resolution.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			Make sure the texture is 8 bits/channel because a 16 bits/channel image can't be imported. Do not use the "Smaller File (8-bit)"
			feature in the Photoshop Export As window, as that creates an indexed color image, not an 8 bits/channel one.
		</p>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="import">
			<a href="#import" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Import</a
			>
		</h2>
		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="example-asset">
			<a href="#example-asset" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Example Asset</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">Source files of an example building ready for import.</p>
		<div class="content-download mt-4">
			<Link
				href="https://drive.google.com/open?id=1ff3geFWoI3b-wnFfg7869JC4rLCzNmqX"
				theme="downloadbutton"
				text="Download"
				classes=""
			/>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="naming">
			<a href="#naming" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Naming</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			The mesh can have any name, but it's not recommended to use spaces or underscores, as the name for the lod mesh name will be
			meshname_lod.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			The textures must have the same name as the mesh, but with the texture type identifier after it, so the result will be names
			like meshname_d.png and meshname_lod_d.png
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="import-folder">
			<a href="#import-folder" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Import Folder</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">You should place the mesh and texture files in the import folder located here:</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					<span class="path">%LocalAppData%\Colossal Order\Cities_Skylines\Addons\Import</span>
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					The AppData folder is hidden by default, you can access it by copying and pasting the path into the file explorer, or
					pressing <span class="key">Windows + R</span> and typing in appdata.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/import.jpg" target="_blank">
					<Picture
						src={images.importIMG}
						width={images.importIMG.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Files ready for import"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Files ready for import.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="template">
			<a href="#template" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Template</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			There is a "load existing props and decorations" toggle on the bottom left, this will load props and networks like
			roads/tracks/paths from your chosen template as well, useful when you need to reimport an already imported asset but don't want
			to place those things again.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">The template you choose will determine many things about your building:</p>
		<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
			<li class="mt-4">
				AI and corresponding stats (a school with students, a fire station with fire trucks etc.)<br />
			</li>
			<li class="mt-4">milestone at which it is unlocked<br /></li>
			<li class="mt-4">UI category<br /></li>
			<li class="mt-4">item class (UI sub-category)<br /></li>
			<li class="mt-4">general settings (flatten terrain, use color variations etc.)<br /></li>
			<li class="mt-4">shader, material properties (color variations)</li>
		</ul>
		<!-- TODO: div info -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
				viewBox="0 0 32 32">
				<path
					d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
				></path>
			</svg>

			<p class="text-lg text-hit-gray-500 italic">
				All of those things can be changed later in the editor itself or using
				<Link
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484"
					theme="externallink"
					text="ModTools"
					classes=""
				/> or other mods.
			</p>
		</div>

		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
				viewBox="0 0 32 32">
				<path
					d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
				></path>
			</svg>

			<p class="text-lg text-hit-gray-500 italic">
				Some types of buildings don't have a template,
				<Link href="#specific-cases" theme="internallink" text="see specific cases" classes="" /> for downloadable premade templates
				and instructions.
			</p>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="import-1">
			<a href="#import-1" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Import</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					After you choose your mesh, depending on how it was exported, you might need to set the correct scale and rotation,
					scale 100 and rotating 3 times around X-axis are common necessities.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/importer.jpg" target="_blank">
					<Picture
						src={images.importer}
						width={images.importer.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Importing a mesh in asset importer"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Importing a mesh in asset importer.</p>
			</div>
		</div>

		<!-- TODO: div warning -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8 text-orange flex-shrink-0">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				></path>
			</svg>
			<p class="text-lg text-hit-gray-500 italic">
				Using the mesh rotation feature will result in broken mesh tangents - that means the normal maps will appear incorrectly or
				not at all on some parts. To fix this, don't use the rotation feature and make sure the mesh is rotated properly before
				import. If you need to use the mesh rotation feature - use the
				<Link
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=1518485094"
					theme="externallink"
					text="Mesh Import Rotation Tangents Fix mod"
					classes=""
				/> to fix it.
			</p>
		</div>

		<!-- TODO: div warning -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8 text-orange flex-shrink-0">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				></path>
			</svg>
			<p class="text-lg text-hit-gray-500 italic">
				If you get an unsupported color error, one of your textures might be a 16 bits/channel file, you need to change it to 8
				bits/channel, in Photoshop: Image &gt; Mode &gt; 8 Bits/Channel.
			</p>
		</div>

		<!-- TODO: div warning -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8 text-orange flex-shrink-0">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				></path>
			</svg>
			<p class="text-lg text-hit-gray-500 italic">
				If the mesh preview doesn't display or you can't continue, you may have a problem with it such as multiple mesh objects,
				other entities like dummies, cameras, lights, or layers in the exported file.
			</p>
		</div>

		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="editor">
			<a href="#editor" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Editor</a
			>
		</h2>
		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lot-size">
			<a href="#lot-size" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Lot Size</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">Size of the building area in cells, each cell is 8x8m.</p>
				<p class="text-lg mt-4 text-hit-gray-500">For growables, the size is limited to 4x4.</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					For other buildings, max sizes are 16x8, 15x9, 14x11, 13x12, 12x13, 11x14, 9x15 and 8x16.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/import_lot.jpg" target="_blank">
					<Picture
						src={images.import_lot}
						width={images.import_lot.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="For growables, the lot also includes an optional yard area for props"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">For growables, the lot also includes an optional yard area for props.</p>
			</div>
		</div>
		<!-- TODO: div warning -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8 text-orange flex-shrink-0">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				></path>
			</svg>
			<p class="text-lg text-hit-gray-500 italic">
				Make sure your building doesn't overhang the lot too much, as the overhanging parts will disappear when the building inside
				the lot isn't visible.
			</p>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="general-properties">
			<a
				href="#general-properties"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">General Properties</a
			>
		</h3>
		<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
			<li class="mt-4">use color variations (may require to save/load for the toggle to take effect)<br /></li>
			<li class="mt-4">availability (ingame, map editor etc.)<br /></li>
			<li class="mt-4">circular lot (used for the vanilla wind turbine, water tower)<br /></li>
			<li class="mt-4">expand front yard (puts optional yard for props in front instead of back)<br /></li>
			<li class="mt-4">flatten full area (makes sure the terrain is flat up to the lot edges)<br /></li>
			<li class="mt-4">flatten terrain (tries to flatten terrain in a softer way)</li>
		</ul>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="stats">
			<a href="#stats" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Stats</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Based on which AI the building has, it can have different stats like electricity consumption, worker amount, police car count
			for a police station etc.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="material-properties">
			<a
				href="#material-properties"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Material properties</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			You can change the 4 color variations, and also floor parameters which are used for the fake interior for 100% specular windows.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="networks">
			<a href="#networks" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Networks</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					You can place networks such as roads, train/tram tracks, and pedestrian paths.
					<Link
						href="#specific-cases"
						theme="internallink"
						text="Read more about network usage in specific cases such as train stations"
						classes=""
					/>
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/editor_networks.jpg" target="_blank">
					<Picture
						src={images.editor_networks}
						width={images.editor_networks.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Vanilla train station pedestrian paths (magenta) connecting the roadside to the platform"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Vanilla train station pedestrian paths (magenta) connecting the roadside to the platform.</p>
			</div>
		</div>
		<!-- TODO: div info -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
				viewBox="0 0 32 32">
				<path
					d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
				></path>
			</svg>

			<p class="text-lg text-hit-gray-500 italic">
				You can use
				<Link
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=512314255"
					theme="externallink"
					text="More Network Stuff by BloodyPenguin"
					classes=""
				/> to use paths and other networks in the editor.
			</p>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="props-trees">
			<a href="#props-trees" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Props &amp; Trees</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">You can place props such as benches, lights, and antennas.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			If you place a prop on the ground, it will follow the terrain if the building is placed on uneven terrain. But if you place it
			on the building, it becomes fixed height, so it will always be at that height relative to the building.
		</p>
		<!-- TODO: div warning -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8 text-orange flex-shrink-0">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				></path>
			</svg>
			<p class="text-lg text-hit-gray-500 italic">
				You must use either vanilla or custom workshop published props and networks, not local custom ones, otherwise, they won't
				show up for the subscribers of your asset.
			</p>
		</div>
		<!-- TODO: div info -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
				viewBox="0 0 32 32">
				<path
					d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
				></path>
			</svg>

			<p class="text-lg text-hit-gray-500 italic">
				You can use
				<Link
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=1361644472"
					theme="externallink"
					text="Precise Prop Positioning by TPB"
					classes=""
				/>
				 to set the exact coordinates and rotation angle of props.
			</p>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="surface">
			<a href="#surface" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Surface</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">Each cell can have its own surface:</p>
				<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
					<li class="mt-4">Pavement (map theme texture)<br /></li>
					<li class="mt-4">Gravel (map theme texture)<br /></li>
					<li class="mt-4">Ruined (map theme texture)<br /></li>
					<li class="mt-4">Field (map theme color)<br /></li>
					<li class="mt-4">Clip (hole in the ground)</li>
				</ul>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/editor_surface.jpg" target="_blank">
					<Picture
						src={images.editor_surface}
						width={images.editor_surface.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="The clip brush is uneven and unreliable"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">The clip brush is uneven and unreliable.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="markers">
			<a href="#markers" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Markers</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			These are invisible props which have functionality such as building entry points, parking spaces or smoke particle effects.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="sub-buildings">
			<a href="#sub-buildings" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Sub-buildings</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					You can add other buildings as sub-buildings to your main building. Unlike props, they are not references to another
					asset, they actually get embedded and saved into the main building asset.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					This is useful for multi-function buildings or adding a part using a different shader.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					The fixed height option makes sure the sub-building stays the same height even on uneven terrain.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					Sub-buildings don't grow on growables, they are only visible if the growable is plopped manually.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					If you just imported a building for it to be used as a sub-building, you need to reload the game for it to be properly
					loaded and available as a sub-building.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/editor_subb.jpg" target="_blank">
					<Picture
						src={images.editor_subb}
						width={images.editor_subb.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Once a sub-building has been added, you can change its position precisely"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Once a sub-building has been added, you can change its position precisely.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="sub-meshes">
			<a href="#sub-meshes" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Sub-meshes</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			You can add additional meshes as sub-meshes, which appear only when specific conditions are met, for example - the vanilla
			landfill uses multiple sub-meshes to display how filled up it is.
		</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flags">
			<a href="#sub-mesh-flags" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Flags</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			Flags are required and forbidden conditions, which determine when the sub-mesh shows up.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			There are many flags and their use is not always obvious so their descriptions might be incomplete or not relevant in all cases.
		</p>
		<!-- TODO: div info -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
				viewBox="0 0 32 32">
				<path
					d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
				></path>
			</svg>

			<p class="text-lg text-hit-gray-500 italic">
				By default, not all sub-mesh flags (conditions) are visible, use
				<Link
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=1393831156"
					theme="externallink"
					text="the sub-mesh Flags mod by TPB"
					classes=""
				/>
				 to show all flags in the asset editor UI.
			</p>
		</div>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-created">
			<a
				href="#sub-mesh-flag-created"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Created</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Active for all created buildings.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-deleted">
			<a
				href="#sub-mesh-flag-deleted"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Deleted</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-original">
			<a
				href="#sub-mesh-flag-original"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Original</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for buildings which were on the map originally, not created by the user.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-customname">
			<a
				href="#sub-mesh-flag-customname"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">CustomName</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Active for buildings which the user has renamed.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-untouchable">
			<a
				href="#sub-mesh-flag-untouchable"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Untouchable</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for buildings which cannot be clicked by the user.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-fixedheight">
			<a
				href="#sub-mesh-flag-fixedheight"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">FixedHeight</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			Likely active for buildings which will not change their height based on water level changes.
		</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-incoming">
			<a
				href="#sub-mesh-flag-incoming"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Incoming</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely related to vehicles arriving at the building.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-outgoing">
			<a
				href="#sub-mesh-flag-outgoing"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Outgoing</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely related to vehicles leaving the building.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-capacitystep1">
			<a
				href="#sub-mesh-flag-capacitystep1"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>CapacityStep1 (First Half Filled)</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			Active for buildings which have their capacity at 50%, such as cemetaries, landfills, snow dumps, warehouses, or processing
			facilities.
		</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-capacitystep2">
			<a
				href="#sub-mesh-flag-capacitystep2"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>CapacityStep2 (Second Half Filled)</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Same as CapacityStep1 but 100%.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-ratereduced">
			<a
				href="#sub-mesh-flag-ratereduced"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">RateReduced</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for buildings which are operating at a reduced rate.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-highdensity">
			<a
				href="#sub-mesh-flag-highdensity"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">HighDensity</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for high density residential and commercial buildings.</p>

		<!-- !SECTION -->
		<h4
			class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
			id="sub-mesh-flag-levelupeducation">
			<a
				href="#sub-mesh-flag-levelupeducation"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LevelUpEducation</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown.</p>

		<!-- !SECTION -->
		<h4
			class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
			id="sub-mesh-flag-leveluplandvalue">
			<a
				href="#sub-mesh-flag-leveluplandvalue"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LevelUpLandValue</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown.</p>

		<!-- !SECTION -->
		<h4
			class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
			id="sub-mesh-flag-roadaccessfailed">
			<a
				href="#sub-mesh-flag-roadaccessfailed"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">RoadAccessFailed</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely related to pathfinding failure.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-evacuating">
			<a
				href="#sub-mesh-flag-evacuating"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Evacuating</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for buildings during disaster evacuation.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-completed">
			<a
				href="#sub-mesh-flag-completed"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Completed</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Active for buildings which have completed being constructed.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-active">
			<a
				href="#sub-mesh-flag-active"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Active</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Active for operating buildings.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-abandoned">
			<a
				href="#sub-mesh-flag-abandoned"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Abandoned</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Active for abandoned buildings.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-demolishing">
			<a
				href="#sub-mesh-flag-demolishing"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Demolishing</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-zonesupdated">
			<a
				href="#sub-mesh-flag-zonesupdated"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">ZonesUpdated</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Related to zoning being updated.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-downgrading">
			<a
				href="#sub-mesh-flag-downgrading"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Downgrading</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown, likely related to buildings with capacity being emptied.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-collapsed">
			<a
				href="#sub-mesh-flag-collapsed"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Collapsed</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for collapsed buildings.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-burneddown">
			<a
				href="#sub-mesh-flag-burneddown"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">BurnedDown</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Same as Collapsed. Likely active for buildings which have burned down.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-upgrading">
			<a
				href="#sub-mesh-flag-upgrading"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Upgrading</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for buildings which are leveling up.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-loading1">
			<a
				href="#sub-mesh-flag-loading1"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Loading1</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Related to animation playback on cargo station buildings.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-loading2">
			<a
				href="#sub-mesh-flag-loading2"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Loading2</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Related to animation playback on cargo station buildings.</p>

		<!-- !SECTION -->
		<h4
			class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
			id="sub-mesh-flag-secondaryloading">
			<a
				href="#sub-mesh-flag-secondaryloading"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">SecondaryLoading</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Related to animation playback on cargo station buildings.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-hidden">
			<a
				href="#sub-mesh-flag-hidden"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Hidden</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-eventactive">
			<a
				href="#sub-mesh-flag-eventactive"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">EventActive</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-flooded">
			<a
				href="#sub-mesh-flag-flooded"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Flooded</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely active for buildings which are flooded.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-filling">
			<a
				href="#sub-mesh-flag-filling"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Filling</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Unknown.</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-historical">
			<a
				href="#sub-mesh-flag-historical"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Historical</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">Likely used for buildings which have been marked as historical by the player.</p>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="editor-advanced">
			<a
				href="#editor-advanced"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Editor Advanced</a
			>
		</h2>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					Various things can be changed with the use of
					<Link
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484"
						theme="externallink"
						text="ModTools"
						classes=""
					/> scene explorer <span class="key">Ctrl+E</span> or running scripts in the console <span class="key">F7</span>, or
					specific mods.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/modtools.jpg" target="_blank">
					<Picture
						src={images.modtools}
						width={images.modtools.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="ModTools scene explorer and console"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">ModTools scene explorer and console.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="ai">
			<a href="#ai" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">AI</a>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			AI defines how the building behaves and what values it has. It can be changed using
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=421616513"
				theme="externallink"
				text="Asset AI Changer by Snow_Cat & cerebellum"
				classes=""
			/>.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">If you want a functionless decorative building, DecorationBuildingAI is a good choice.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			But if you want your building to be sinkable into the ground without lowering terrain - use BuildingAI, however, a side effect
			is it won't get wet in the rain, or snowy on winter maps.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="item-class">
			<a href="#item-class" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Item Class</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Contains information about what type and level of building it is. It can be changed using
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=455068042"
				theme="externallink"
				text="Asset ItemClass Changer by Snow_Cat"
				classes=""
			/>.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="ui-category">
			<a href="#ui-category" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>UI Category</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			UI category determines in which menu your asset will appear. It can be changed using
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=458396767"
				theme="externallink"
				text="Asset UI Category Changer by Snow_Cat"
				classes=""
			/>.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="ui-priority">
			<a href="#ui-priority" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>UI Priority</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			UIPriority determines item order in the menu. It can be changed
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=466485089"
				theme="externallink"
				text="Asset UI Priority Changer by Snow_Cat"
				classes=""
			/> or
			<Link
				href="https://gist.github.com/ronyx69/60e9297695ff983b655b05b21f0407e5"
				theme="externallink"
				text="a script"
				classes=""
			/>.
		</p>

		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="shaders">
			<a href="#shaders" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Shaders</a
			>
		</h3>
		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="shader-default">
			<a href="#shader-default" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Default</a
			>
		</h4>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					<Link
						href="https://gist.github.com/ronyx69/a5029e0369e45117285b113ffe1a6d48"
						theme="externallink"
						text="Default"
						classes=""
					/> extends the base mesh into the ground and applies the map theme building base texture to it.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/building_shaders.jpg" target="_blank">
					<Picture
						src={images.building_shaders}
						width={images.building_shaders.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Comparison between Default (left), NoBase (middle) and Fence (right) building shaders"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Comparison between Default (left), NoBase (middle) and Fence (right) building shaders.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="shader-nobase">
			<a href="#shader-nobase" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>NoBase</a
			>
		</h4>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					When using the default building shader, parts that are under 0 (ground) will get the map theme building base texture.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					<Link
						href="https://gist.github.com/ronyx69/24a430d610fe5bb2070c1a9cbb793e0d"
						theme="externallink"
						text="NoBase"
						classes=""
					/> doesn't replace the underground texture with the building base texture.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					The base mesh may still be visible, as it's generated on import for edges closer than 5cm to 0 (ground). It is possible
					to delete the base mesh completely using
					<Link
						href="https://gist.github.com/ronyx69/a5fd0eb2627131de12cd21878fa320be"
						theme="externallink"
						text="this script"
						classes=""
					/>.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					This shader also has a side-effect of increased reflectivity for high specularity areas.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/nobasesnow.jpg" target="_blank">
					<Picture
						src={images.nobasesnow}
						width={images.nobasesnow.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="On winter maps, snow doesn't appear on the NoBase shader"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">On winter maps, snow doesn't appear on the NoBase shader.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="shader-fence">
			<a href="#shader-fence" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Fence</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			<Link href="https://gist.github.com/ronyx69/7a720c7c7f767d8441b824da4e0ea5f2" theme="externallink" text="Fence" classes="" />
			 conforms to the terrain. (used for the vanilla cemetery and Japanese garden)
		</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="shader-floating">
			<a
				href="#shader-floating"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Floating</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			<Link href="https://gist.github.com/ronyx69/ce0ec6b39ab7a5c379dea8e10a4686f5" theme="externallink" text="Floating" classes="" />
			 waves in water. (used for Mass Transit DLC boat museum steamboat)
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="shader-properties">
			<a
				href="#shader-properties"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Shader Properties</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Some shaders have specific hidden properties, such as the
			<Link
				href="https://gist.github.com/ronyx69/18486e905c4ddf50ce14cafbd9c55ba0"
				theme="externallink"
				text="WindTurbine shader"
				classes=""
			/> and
			<Link href="/shader/animuv/" theme="internallink" text="AnimUV building shader" classes="" />.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="placement-mode">
			<a href="#placement-mode" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Placement Mode</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">This determines how your asset must be placed:</p>
		<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
			<li class="mt-4">Roadside<br /></li>
			<li class="mt-4">Shoreline<br /></li>
			<li class="mt-4">OnWater (also disables water collision)<br /></li>
			<li class="mt-4">OnGround (can't be placed on water)<br /></li>
			<li class="mt-4">OnSurface (same as OnGround but can be placed on water)<br /></li>
			<li class="mt-4">OnTerrain (same as OnSurface but in water, not on it)<br /></li>
			<li class="mt-4">ShorelineOrGround</li>
			<li class="mt-4">PathsideOrGround</li>
		</ul>
		<p class="text-lg mt-4 text-hit-gray-500">
			It can be changed with
			<Link href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484" theme="externallink" text="ModTools" classes="" />
			 scene explorer <span class="key">Ctrl+E</span> by going to <span class="path"
				>Tool Controller &gt; ToolController &gt; m_editPrefabInfo &gt; m_placementMode</span
			>.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="zoning-mode">
			<a href="#zoning-mode" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Zoning Mode</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">This is used only for growables to make them grow only on corners:</p>
		<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
			<li class="mt-4">Straight (default)<br /></li>
			<li class="mt-4">CornerLeft<br /></li>
			<li class="mt-4">CornerRight</li>
		</ul>
		<p class="text-lg mt-4 text-hit-gray-500">
			It can be changed with
			<Link href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484" theme="externallink" text="ModTools" classes="" />
			 scene explorer <span class="key">Ctrl+E</span> and going to <span class="path"
				>Tool Controller &gt; ToolController &gt; m_editPrefabInfo &gt; m_zoningMode</span
			>.
		</p>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="specific-cases">
			<a href="#specific-cases" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Specific Cases</a
			>
		</h2>
		<p class="text-lg mt-4 text-hit-gray-500">
			This section covers some specific types of buildings which do not have a template or require special instructions. It will also
			make references to
			<Link href="/modtools/" theme="internallink" text="using ModTools" classes="" />, and other mods mentioned in the
			<Link href="#editor-advanced" theme="internallink" text="editor advanced section" classes="" /> .
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			For buildings such as stations and harbors,
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=790347696"
				theme="externallink"
				text="Advanced Buildings Editor by BloodyPenguin"
				classes=""
			/> is recommended for making all segments editable and auto-placing spawn points which are used to spawn trains, ships, or
			planes.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			Various station tracks and invisible connection paths can be accessed in the asset editor road and decoration menu by using
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=512314255"
				theme="externallink"
				text="More Network Stuff by BloodyPenguin"
				classes=""
			/> and they can be moved using
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=1619685021&searchtext=move+it"
				theme="externallink"
				text="Move It!"
				classes=""
			/>.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="train-station">
			<a href="#train-station" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Train Station</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">The train station has a template.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			Train stations require a train station track, which contains pedestrian stop paths 1 meter above the track where citizens wait
			for the train. The stations also have invisible pedestrian connection paths leading to the station track.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="cargo-train-station">
			<a
				href="#cargo-train-station"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Cargo Train Station</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Cargo train station doesn't have a template. You can
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=527544869"
				theme="externallink"
				text="download a premade template here"
				classes=""
			/>
			 or you can use the regular train station template, but change the AI to CargoStationAI and the item class to Train Cargo
			Facility.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			Cargo train stations work with any train station track, but a special cargo station track which doesn't have pedestrian stop
			paths exists. They also have invisible cargo connection paths which are used by the cargo vehicles to enter and exit the
			station.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="harbor">
			<a href="#harbor" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Harbor</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">The harbor has a template.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			Harbors require a ship dock path and ship dockway paths, and also a pedestrian connection path.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="cargo-harbor">
			<a href="#cargo-harbor" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Cargo Harbor</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">
			Cargo harbor doesn't have a template. You can
			<Link
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=707939755"
				theme="externallink"
				text="download a premade template here"
				classes=""
			/>
			 or you can use the regular harbor template, but change the AI to CargoHarborAI and the item class to Ship Cargo Facility.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			Cargo harbors require a ship dock path and ship dockway paths, and also a pedestrian connection path.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="airport">
			<a href="#airport" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Airport</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">Airports have templates.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			Airports use runways and taxiways as expected. For the terminals they use airplane stop paths.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="monorail-station">
			<a
				href="#monorail-station"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Monorail Station</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">Monorail stations have templates.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			The monorail station track and road can be accessed by using the
			<Link href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484" theme="externallink" text="ModTools" classes="" />
			 scene explorer <span class="key">Ctrl+E</span> and going to <span class="path"
				>Expansion 4 &gt; NetCollection &gt; m_prefabs &gt; Monorail Station Track / Medium Road Monorail Elevated &gt; Plop</span
			>.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="cable-car-stop">
			<a href="#cable-car-stop" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Cable Car Stop</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">Cable car stops have templates.</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			The cable car stop networks can be accessed by using the
			<Link href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484" theme="externallink" text="ModTools" classes="" />
			 scene explorer <span class="key">Ctrl+E</span> and going to <span class="path"
				>Expansion 4 &gt; NetCollection &gt; m_prefabs &gt; CableCar Stop &gt; Plop</span
			>.
		</p>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="save">
			<a href="#save" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Save</a>
		</h2>
		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="filename">
			<a href="#filename" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Filename</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					The filename input is on the bottom left, this is what the actual file will be called. It's not recommended to use
					spaces, dots, or special symbols.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/save.jpg" target="_blank">
					<Picture
						src={images.save}
						width={images.save.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Save asset window"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Save asset window.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="asset-name">
			<a href="#asset-name" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Asset Name</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">The asset name visible ingame, the name people should search for.</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="images">
			<a href="#images" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Images</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">There are 2 different folders you can open by clicking the folder icons:</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="snapshot">
			<a href="#snapshot" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Snapshot</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			On the snapshot image, bottom right corner. Use this one to replace the snapshot, you can replace it with a 1x1 px image to save
			on the asset file size. This image will only be visible in the content manager. It will also default as the Steam preview image,
			but you can change that separately when publishing.
		</p>

		<!-- !SECTION -->
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="thumbnail-tooltip">
			<a
				href="#thumbnail-tooltip"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Thumbnail &amp; Tooltip</a
			>
		</h4>
		<p class="text-lg mt-4 text-hit-gray-500">
			Below thumbnail, on the right side. Use this one to change the thumbnail (109x100) and tooltip (492x147) of your asset.<br />
			 Once you change the main thumbnail, the hover/active states will update automatically.
		</p>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="local-assets-folder">
			<a
				href="#local-assets-folder"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Local Assets Folder</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">Once the asset is saved, the .crp file will appear in the local assets folder:</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					<span class="path">%LocalAppData%\Colossal Order\Cities_Skylines\Addons\Assets</span>
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					The AppData folder is hidden by default, you can access it by copying and pasting the path into the file explorer, or
					pressing <span class="key">Windows+R</span> and typing in appdata.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/local.jpg" target="_blank">
					<Picture
						src={images.local}
						width={images.local.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="CRP files in the local assets folder"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">CRP files in the local assets folder.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="publish">
			<a href="#publish" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Publish</a
			>
		</h2>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					Once you have saved the asset and reloaded the game, you can publish the asset.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">Go to the content manager &gt; assets and find your asset, then click share.</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/share.jpg" target="_blank">
					<Picture
						src={images.share}
						width={images.share.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Share button in content manager"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Share button in content manager.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="title-and-description">
			<a
				href="#title-and-description"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Title and Description</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">You can change these on the Steam Workshop later.</p>

		<!-- !SECTION -->
		<h3
			class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500"
			id="steam-preview-image-and-content-folder">
			<a
				href="#steam-preview-image-and-content-folder"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Steam Preview Image and Content Folder</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">
					There is a folder icon again on the snapshot image, bottom right corner. Here you can change the Steam preview image,
					which is the thumbnail visible on steam. The largest size the image will be visible is 437x437 (on the front page) but
					it will get upscaled to 512x512 by Steam so that's the size you should use.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					There is also the content folder, which is where the actual asset file is. You can paste multiple .crp files here if you
					would like to upload a pack of assets.
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/publish.jpg" target="_blank">
					<Picture
						src={images.publish}
						width={images.publish.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Publish window and content folder"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Publish window and content folder.</p>
			</div>
		</div>

		<!-- !SECTION -->
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="steam-workshop">
			<a href="#steam-workshop" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Steam Workshop</a
			>
		</h3>
		<p class="text-lg mt-4 text-hit-gray-500">On the Steam Workshop page for your asset, you can:</p>
		<ul class="text-lg mt-4 text-hit-gray-500 list-disc list-inside">
			<li class="mt-4">add it to a collection<br /></li>
			<li class="mt-4">add images and videos<br /></li>
			<li class="mt-4">add contributors and links<br /></li>
			<li class="mt-4">add required items and DLC<br /></li>
			<li class="mt-4">change visibility to friends only or private</li>
		</ul>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="update">
			<a href="#update" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Update</a
			>
		</h2>
		<p class="text-lg mt-4 text-hit-gray-500">
			To update your own item, you must subscribe to it first, then it will show up in the content manager. It won't be the same as a
			local asset, as it will show an "update" button.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">
			When you click update, click the folder icon, and now you can change the Steam preview image and put your new asset in the
			content folder. If updating a pack, remember to put all the assets inside the content folder.
		</p>
		<p class="text-lg mt-4 text-hit-gray-500">You can also add more assets to make it a bigger pack.</p>

		<!-- TODO: div warning -->
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-8 h-8 text-orange flex-shrink-0">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
				></path>
			</svg>
			<p class="text-lg text-hit-gray-500 italic">
				Make sure your updated assets are saved with exactly the same name as before, otherwise, it will disappear from your
				subscribers' saves, as the game uses the internal prefab name to refer to it. In the case of networks (roads, tracks etc.)
				it may completely break a save.
			</p>
		</div>

		<!-- !SECTION -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="prefab-name">
			<a href="#prefab-name" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Prefab Name</a
			>
		</h2>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p class="text-lg mt-4 text-hit-gray-500">This is not something you can change.</p>
				<p class="text-lg mt-4 text-hit-gray-500">It's the hidden internal name used to refer to your asset in savefiles.</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					It's the reason why a local asset is not the same as a workshop published asset.
				</p>
				<p class="text-lg mt-4 text-hit-gray-500">
					For local assets: filename.Asset Name_Data<br />For published workshop assets: SteamID.Asset Name_Data
				</p>
			</div>
			<div class="lg:w-1/3">
				<a href="/images/asset/building/prefab.jpg" target="_blank">
					<Picture
						src={images.prefab}
						width={images.prefab.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						alt="Publish window and content folder"
						class="h-auto w-full"
					/>
				</a>
				<p class="explanation">Comparison between local (top) and workshop published (bottom) prefab names shown in ModTools.</p>
			</div>
		</div>

		<!-- ?Video Section -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="relevant-videos">
			<a
				href="#relevant-videos"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Relevant Videos</a
			>
		</h2>
		<ul class="text-lg mt-4 text-hit-gray-500 list-inside">
			<li>
				<h3 class="mt-4" id="illumination-map">
					<Link
						href="https://youtube.com/watch?v=48C__Aj4itk"
						theme="youtube"
						text="Illumination Map"
						classes=""
						target="_blank"
					/>
				</h3>
			</li>
			<li>
				<h3 class="mt-4" id="change-shader-placement-mode">
					<Link
						href="https://youtube.com/watch?v=jbFvYGO-AFE"
						theme="youtube"
						text="Change Shader & Placement Mode"
						classes=""
						target="_blank"
					/>
				</h3>
			</li>
			<li>
				<h3 class="mt-4" id="publish-with-included-prop">
					<Link
						href="https://youtube.com/watch?v=iSe-AmFP1KM"
						theme="youtube"
						text="Publish with Included Prop"
						classes=""
						target="_blank"
					/>
				</h3>
			</li>
			<li>
				<h3 class="mt-4" id="publish-multiple-assets-single-ws-item">
					<Link
						href="https://youtube.com/watch?v=iSe-AmFP1KM"
						theme="youtube"
						text="Publish Multiple Assets as a Single Workshop Item"
						classes=""
						target="_blank"
					/>
				</h3>
			</li>
			<li>
				<h3 class="mt-4" id="decide-color-variation-ingame">
					<Link
						href="https://youtube.com/watch?v=K3wnhJjyvkw"
						theme="youtube"
						text="Decide Color Variations Ingame"
						classes=""
						target="_blank"
					/>
				</h3>
			</li>
		</ul>
	</section>
</MainLayout>
