---
import MainLayout from '../../layouts/MainLayout.astro';
import Link from '../../components/Link.astro';
import TableOfContents from '../../components/TableOfContents.astro';
const title = 'Network Asset Creation - Cities Skylines Modding';
import { Picture } from 'astro:assets';
import { images } from '../../data/imageImports.js';
---

<MainLayout title={title}>
	<TableOfContents />
	<section class="pt-12 pb-48 text-lg sm:ml-64 xl:mr-64 text-hit-gray-500">
		<h1 id="overview" class="pb-8 text-4xl font-bold border-b-4 border-hit-gray-600 text-hit-gray-400">Network Asset Creation</h1>
		<div class="content">
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="about">
				<a href="#about" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>About</a
				>
			</h2>
			<p class="mt-4">
				Networks consist of nodes and segments, they are used for roads, tracks, canals, walls, fences, powerlines etc.
			</p>
			<p class="mt-4">
				Networks are arguably the most complicated type of assets (depends on what you are creating) so this article assumes you are
				familiar with basic asset creation such as props and buildings, so it skips basic concepts such as what is a mesh, pivot
				etc.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="template">
				<a href="#template" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Template</a
				>
			</h2>
			<p class="mt-4">
				The template you choose will be fully imported as the starting point of your network, so choose one that is closest to your
				desired result. You can change almost everything later in the asset editor itself, or using ModTools scene explorer <span
					class="key">Ctrl+E</span
				> or running scripts in the console <span class="key">F7</span>.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="elevations">
				<a href="#elevations" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Elevations</a
				>
			</h2>
			<p class="mt-4">
				Depending on the AI of your network, it may have elevations such as Elevated, Bridge, Slope, Tunnel, which are their own
				complete networks with their own properties, lanes, segments, and nodes, which are bundled together with the Basic network
				inside the same .crp file.
			</p>
			<p class="mt-4">
				Elevations trigger at specific build heights, or when chosen by the player using Fine Road Tool. Slope is used for the basic
				to tunnel transition.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="deleting">
				<a href="#deleting" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Deleting</a
				>
			</h4>
			<p class="mt-4">
				If you don't need specific elevations, you can delete them by opening ModTools scene explorer <span class="key">Ctrl+E</span
				>, going to <span class="path">Tool Controller &gt; ToolController &gt; m_editPrefabInfo &gt; m_netAI</span> and clicking
				Unset on the ones you don't need, then saving and loading the asset.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="adding">
				<a href="#adding" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Adding</a
				>
			</h4>
			<p class="mt-4">
				If your template didn't have elevations, but you need them, you may be able to add them, depending on what AI your network
				has. This can be done by copying any other network into one of the possible elevations.
			</p>
			<p class="mt-4">
				You can find the base game networks in scene explorer <span class="key">Ctrl+E</span>: <span class="path">Sunny</span> (or
				North/Tropical/European/Winter, based on the theme environment you loaded for the asset editor) <span class="path"
					>Collections &gt; Road &gt; NetCollection &gt; m_prefabs</span
				>. For example you could go to <span class="path">Basic Road &gt; m_netAI</span>, click Copy on <span class="path"
					>m_bridgeInfo</span
				>, and then go to <span class="path">Tool Controller &gt; ToolController &gt; m_editPrefabInfo &gt; m_netAI</span> and click
				Paste on <span class="path">m_bridgeInfo</span>
				 here, then save and load the asset.
			</p>
			<p class="mt-4">
				If you would like to copy a custom network into one of the elevations, you can also find those in scene explorer: <span
					class="path">Custom Prefabs &gt; ModTools.CustomPrefabs &gt; m_nets</span
				>.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="properties">
				<a href="#properties" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Properties</a
				>
			</h2>
			<p class="mt-4">
				The general properties are based on the AI the road has, that means for canals or cable car networks some of them might be
				different, this list is primarily based on the one for RoadBridgeAI, used for elevated networks of any normal road, but also
				contains properties which only appear on some other AI.
			</p>
			<p class="mt-4">
				You can change the AI using <Link
					classes=""
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=421616513"
					text="Asset AI Changer by Snow_Cat & cerebellum"
					theme="externallink"
				/>.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="half-width">
				<a href="#half-width" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Half-width</a
				>
			</h4>
			<p class="mt-4">
				This is used to determine how roads of different widths connect - nodes of narrow roads will widen to meet wider roads.
			</p>
			<p class="mt-4">
				Used to define the width of surface paint (such as pavement, gravel, or terrain clipping) but becomes very unreliable when
				lower than 4.
			</p>
			<p class="mt-4">
				It's also the width of the area affected by flatten terrain, drawable/selectable area and affects how the road will snap to
				the grid.
			</p>
			<p class="mt-4">
				The half-width should be wide enough to cover the entire mesh of the network, otherwise the LOD may display incorrectly.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="pavement-width">
				<a
					href="#pavement-width"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Pavement Width</a
				>
			</h4>
			<p class="mt-4">
				Defines the width of the pavement on each side of the road, used to properly connect curbs with other roads at nodes. For
				correct nodes when intersecting with other roads, the half-width and pavement width values must be set appropriately.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-length">
				<a
					href="#segment-length"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Segment Length</a
				>
			</h4>
			<p class="mt-4">
				This needs to match the length of the mesh used for the segment (and node if used), otherwise, the road will overlap itself
				or have holes.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="min-max-height">
				<a
					href="#min-max-height"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Min / Max Height</a
				>
			</h4>
			<p class="mt-4">Defines collision area for water and building other roads over/under it.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="max-slope">
				<a href="#max-slope" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Max Slope</a
				>
			</h4>
			<p class="mt-4">Maximum slope angle allowed for building the road.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="max-build-angle">
				<a
					href="#max-build-angle"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Max Build Angle</a
				>
			</h4>
			<div class="flex flex-col gap-6 mt-4 lg:flex-row">
				<div class="lg:w-2/3">
					<p>Maximum angle allowed for intersecting the road. Limited to 135° by the game.</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/network/properties_1_maxbuildangle.jpg" target="_blank">
						<Picture
							width={images.properties1.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.properties1}
							alt="An example 135° intersection"
							class="w-full h-auto"
						/></a
					><p class="explanation">An example 135° intersection.</p>
				</div>
			</div>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="max-turn-angle">
				<a
					href="#max-turn-angle"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Max Turn Angle</a
				>
			</h4>
			<p class="mt-4"></p><div class="flex flex-col gap-6 mt-4 lg:flex-row">
				<div class="lg:w-2/3">
					<p>When a node between 2 segments exceeds this angle, a node will be used, instead of a regular bent segment.</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/network/properties_2_maxturnangle.jpg" target="_blank">
						<Picture
							width={images.properties2.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.properties2}
							alt="Example of 90° (left) and 89° (right) max turn angle"
							class="w-full h-auto"
						/></a
					><p class="explanation">Example of 90° (left) and 89° (right) max turn angle.</p>
				</div>
			</div>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="min-corner-offset">
				<a
					href="#min-corner-offset"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Min Corner Offset</a
				>
			</h4>
			<p class="mt-4"></p><div class="flex flex-col gap-6 mt-4 lg:flex-row">
				<div class="lg:w-2/3">
					<p>
						Increases corner smoothing, this is more noticeable for sharp turns at low angles. High values will make the road
						hard to use in tight situations.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/network/properties_3_mincorneroffset.jpg" target="_blank">
						<Picture
							width={images.properties3.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.properties3}
							alt="Example of 0 (top) and 16 (bottom) min corner offset"
							class="w-full h-auto"
						/></a
					><p class="explanation">Example of 0 (top) and 16 (bottom) min corner offset.</p>
				</div>
			</div>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="build-height">
				<a
					href="#build-height"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Build Height</a
				>
			</h4>
			<p class="mt-4">When building the road, it will be created higher or lower than the player has chosen based on this value.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="surface-level">
				<a
					href="#surface-level"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Surface Level</a
				>
			</h4>
			<p class="mt-4">
				CO states this is the default height for vehicles and pedestrians, although it seems ingame the individual vertical offset
				for lanes is used instead.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="create-pavement-gravel-ruining">
				<a
					href="#create-pavement-gravel-ruining"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Create Pavement / Gravel / Ruining</a
				>
			</h4>
			<p class="mt-4">Applies surface paint based on the half-width of the road.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="flatten-terrain">
				<a
					href="#flatten-terrain"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Flatten Terrain</a
				>
			</h4>
			<p class="mt-4">Flattens terrain based on the half-width of the road.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lowers-terrain">
				<a
					href="#lowers-terrain"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Lowers Terrain</a
				>
			</h4>
			<p class="mt-4">
				Lowers terrain based on the half-width of the road. Usually used for elevated roads to prevent the terrain from clipping
				into them.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="clip-terrain">
				<a
					href="#clip-terrain"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Clip Terrain</a
				>
			</h4>
			<p class="mt-4">
				Uses terrain clipping to create a hole in the ground, the actual hole is slightly smaller than the half-width, and it
				becomes very unreliable when half-width is less than 4. This also creates ruining around the hole.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="follow-terrain">
				<a
					href="#follow-terrain"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Follow Terrain</a
				>
			</h4>
			<p class="mt-4">Places nodes according to terrain when building the road. Usually disabled for elevated or tunnel networks.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="flat-junctions">
				<a
					href="#flat-junctions"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Flat Junctions</a
				>
			</h4>
			<p class="mt-4">
				Forces area around nodes to be completely flat. Note that the centers of intersections will be flat no matter what.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="clip-segment-ends">
				<a
					href="#clip-segment-ends"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Clip Segment Ends</a
				>
			</h4>
			<p class="mt-4">
				Enables the use of bent nodes on intersections, used for most normal roads. If disabled and the network has no nodes, the
				segments will connect directly, which is used for wall networks, or with an offset based on min corner offset.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="twist-segment-ends">
				<a
					href="#twist-segment-ends"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Twist Segment Ends</a
				>
			</h4>
			<p class="mt-4">
				Twists segment ends to align to the pillar, only used for power lines and cable car paths to make sure the wires connect to
				the pylon correctly.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="straight-segment-ends">
				<a
					href="#straight-segment-ends"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Straight Segment Ends</a
				>
			</h4>
			<p class="mt-4">Tries to prevent the segment ends from bending/skewing at intersections.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="enable-bending-segments">
				<a
					href="#enable-bending-segments"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Enable Bending Segments</a
				>
			</h4>
			<p class="mt-4">Automatically bends segments when building intersections at sharp angles.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="enable-bending-nodes">
				<a
					href="#enable-bending-nodes"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Enable Bending Nodes</a
				>
			</h4>
			<p class="mt-4">Use a bent segment instead of a node on sharp corners.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="can-cross-lanes">
				<a
					href="#can-cross-lanes"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Can Cross Lanes</a
				>
			</h4>
			<p class="mt-4">Allows traffic to cross oncoming lanes at intersections, disabled only for roads with medians.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="can-collide">
				<a
					href="#can-collide"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Can Collide</a
				>
			</h4>
			<p class="mt-4">Enables checking for collisions when building.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="block-water">
				<a
					href="#block-water"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Block Water</a
				>
			</h4>
			<p class="mt-4">Used for the dam, canals, flood wall, quay. Blocks water based on half-width and min/max height properties.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="auto-remove">
				<a
					href="#auto-remove"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Auto Remove</a
				>
			</h4>
			<p class="mt-4">
				Destroys the road when something else is built over it, if can collide is enabled. Used for pedestrian paths, walls, trench,
				and powerlines
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="connect-group">
				<a
					href="#connect-group"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Connect Group</a
				>
			</h4>
			<p class="mt-4">
				Nodes of the current or other networks which match this connect group and have direct connect enabled will show up in
				intersections. For example - tram track nodes do this.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="enable-zoning">
				<a
					href="#enable-zoning"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Enable Zoning</a
				>
			</h4>
			<p class="mt-4">Creates the zoning grid based on the road half-width, but no closer than 8m to the center.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="double-length">
				<a
					href="#double-length"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Double Length</a
				>
			</h4>
			<p class="mt-4">
				Used for the large highway bridges, alternates between two types of pillars and allows building longer segments than usual.
				Only works with disabled bending segments.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="can-modify">
				<a href="#can-modify" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Can Modify</a
				>
			</h4>
			<p class="mt-4">Unknown, enabled for all elevated networks.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="traffic-lights">
				<a
					href="#traffic-lights"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Traffic Lights</a
				>
			</h4>
			<p class="mt-4">
				Enables the traffic lights node flag for intersections involving the road. The actual traffic light props themselves must be
				added as lane props.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="highway-rules">
				<a
					href="#highway-rules"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Highway Rules</a
				>
			</h4>
			<p class="mt-4">Unknown, involved in code related to lane routing and simulation. Enabled only for all highways.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="accumulate-snow">
				<a
					href="#accumulate-snow"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Accumulate Snow</a
				>
			</h4>
			<p class="mt-4">Allows for the snow to accumulate on the road on winter maps.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="noise-accumulation-radius">
				<a
					href="#noise-accumulation-radius"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Noise Accumulation / Radius</a
				>
			</h4>
			<p class="mt-4">Affects noise pollution simulation.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="center-area-width">
				<a
					href="#center-area-width"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Center Area Width</a
				>
			</h4>
			<p class="mt-4">Unknown.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="water-block-offset">
				<a
					href="#water-block-offset"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Water Block Offset</a
				>
			</h4>
			<p class="mt-4">Used for canal depth (negative) and flood wall height.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="pillar-pylon-power-pole">
				<a
					href="#pillar-pylon-power-pole"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Pillar / Pylon / Power Pole</a
				>
			</h4>
			<p class="mt-4">
				Allows embedding a building inside the network asset for use as a pillar which appears on nodes. Some AIs have specific
				pillars for different heights, corners, or intersections.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="middle-pillar">
				<a
					href="#middle-pillar"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Middle Pillar</a
				>
			</h4>
			<p class="mt-4">Only used for Double Length networks, used for the large highway bridges for alternating pillars.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="bridge-middle-pillar-offset">
				<a
					href="#bridge-middle-pillar-offset"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Bridge / Middle Pillar Offset</a
				>
			</h4>
			<p class="mt-4">Raises or lowers the pillars.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="hidden-properties">
				<a
					href="#hidden-properties"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Hidden Properties</a
				>
			</h3>
			<p class="mt-4">
				Some properties are not visible in the road editor UI, but can be changed by using <Link
					classes=""
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484"
					text="ModTools"
					theme="externallink"
				/> scene explorer <span class="key">Ctrl+E</span> and going to <span class="path"
					>Tool Controller &gt; ToolController &gt; m_editPrefabInfo</span
				> or running scripts in the console <span class="key">F7</span>.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="m_enablemiddlenodes">
				<a
					href="#m_enablemiddlenodes"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>m_enableMiddleNodes</a
				>
			</h4>
			<p class="mt-4">
				If this is disabled, every node will be an intersection. This is disabled for train or monorail station tracks so they
				always have the track cross node, and also for road slope(tunnel entrance) networks.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="m_setvehicleflags">
				<a
					href="#m_setvehicleflags"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>m_setVehicleFlags</a
				>
			</h4>
			<p class="mt-4">
				Vehicles driving on the network will get these flags applied. Used for OnGravel flag which adds a dust effect on gravel
				roads, and Underground flag to make vehicles invisible in tunnels. This can be changed using <Link
					classes=""
					href="https://gist.github.com/ronyx69/1581ac01ca54e6a563f7bb00a8fd1c4b"
					text="a script"
					theme="externallink"
				/>.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="m_setcitizenflags">
				<a
					href="#m_setcitizenflags"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>m_setCitizenFlags</a
				>
			</h4>
			<p class="mt-4">Same as m_setVehicleFlags but for citizens.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="m_usefixedheight">
				<a
					href="#m_usefixedheight"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>m_useFixedHeight</a
				>
			</h4>
			<p class="mt-4">
				Used for networks which are specifically used inside buildings - such as station tracks or the harbor road. If enabled,
				makes sure the networks stay at the same level relative to the building, even on uneven terrain.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="m_terrainStartOffset_m_terrainendoffset">
				<a
					href="#m_terrainStartOffset_m_terrainendoffset"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>m_terrainStartOffset &amp; m_terrainEndOffset</a
				>
			</h4>
			<p class="mt-4">
				Used to force lowered or raised terrain at the start or end nodes of a network. Used for slope networks - tunnel entrances.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="lanes">
				<a href="#lanes" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Lanes</a
				>
			</h2>
			<p class="mt-4">Lanes are usually used for vehicles and pedestrians, but can also be used as a container for props.</p>
			<p class="mt-4">Some lane properties have no official documentation, therefore some explanations might be inaccurate.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="position">
				<a href="#position" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Position</a
				>
			</h4>
			<p class="mt-4">Distance from the center of the road.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="width">
				<a href="#width" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Width</a
				>
			</h4>
			<p class="mt-4">The width of the lane.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="vertical-offset">
				<a
					href="#vertical-offset"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Vertical Offset</a
				>
			</h4>
			<p class="mt-4">The height position of the lane.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="stop-offset">
				<a
					href="#stop-offset"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Stop Offset</a
				>
			</h4>
			<p class="mt-4">
				Lane position offset used for pedestrian lanes with stop types, used for public transport stops such as bus and tram.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="speed-limit">
				<a
					href="#speed-limit"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Speed Limit</a
				>
			</h4>
			<p class="mt-4">
				1.0 equals 50 km/h speed limit signs on vanilla. Usually 0.25 for pedestrian lanes, 0.8 for vehicle lanes on basic roads, 1
				or 1.2 for larger roads, 2 for highways.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="direction">
				<a href="#direction" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Direction</a
				>
			</h4>
			<p class="mt-4">Forward for right-hand lanes, backward for left-hand lanes. Automatically flips on left-hand traffic maps.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-type">
				<a href="#lane-type" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Lane Type</a
				>
			</h4>
			<p class="mt-4">Determines the kind of traffic the lane is meant for.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="vehicle-type">
				<a
					href="#vehicle-type"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Vehicle Type</a
				>
			</h4>
			<p class="mt-4">
				If the lane type is set to vehicle, this defines which vehicle types can use the lane. Also used for dedicated lanes to
				define trolleybus left and right poles.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="stop-type">
				<a href="#stop-type" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Stop Type</a
				>
			</h4>
			<p class="mt-4">Used for pedestrian lanes, on which people will wait for public transport.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="allow-connect">
				<a
					href="#allow-connect"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Allow Connect</a
				>
			</h4>
			<p class="mt-4">
				Used to find road access for buildings. Likely used for spawning or visiting vehicles. Usually disabled on any slope,
				elevated and bridge networks, also disabled on blimp, monorail, and cable car paths.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="use-terrain-height">
				<a
					href="#use-terrain-height"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Use Terrain Height</a
				>
			</h4>
			<p class="mt-4">Uses terrain instead of lane vertical offset or surface level. Used for ground pedestrian paths.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="center-platform">
				<a
					href="#center-platform"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Center Platform</a
				>
			</h4>
			<p class="mt-4">Used for pedestrian lanes for tram stops in the middle of the avenue.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="elevated">
				<a href="#elevated" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Elevated</a
				>
			</h4>
			<p class="mt-4">
				Used for elevated pedestrian lanes which are not accessible from the regular roadside pedestrian lanes. Used only for the
				medium road monorail station stop lanes.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="lane-props">
				<a href="#lane-props" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Lane Props</a
				>
			</h2>
			<p class="mt-4">
				You can add props to lanes, such as hydrants, manholes, arrows, traffic lights, signs etc. except terrain conforming props
				such as fences. Lane props don't get embedded into the road asset .crp file, so you must add published workshop props.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="flags-1">
				<a href="#flags-1" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Flags</a
				>
			</h4>
			<p class="mt-4">Required and forbidden conditions which determine when the prop will appear.</p>
			<p class="mt-4">Start and End flags refer to the direction of the lane, as it goes in one direction from start to end.</p>
			<p class="mt-4">
				<Link classes="" href="#flags" text="Read more about flags." theme="internallink" />
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="color-mode">
				<a href="#color-mode" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Color Mode</a
				>
			</h4>
			<p class="mt-4">Determines state of traffic lights and level crossing props.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="position-1">
				<a href="#position-1" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Position</a
				>
			</h4>
			<p class="mt-4">Prop XYZ offset relative to the lane position.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="angle">
				<a href="#angle" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Angle</a
				>
			</h4>
			<p class="mt-4">Rotation of the prop.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-offset">
				<a
					href="#segment-offset"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Segment Offset</a
				>
			</h4>
			<p class="mt-4">Pushes the prop towards the end of the segment</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="repeat-distance">
				<a
					href="#repeat-distance"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Repeat Distance</a
				>
			</h4>
			<p class="mt-4">When set to 0, repeats once per segment.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="min-length">
				<a href="#min-length" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Min Length</a
				>
			</h4>
			<p class="mt-4">Minimum segment length required for the prop to appear.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="corner-angle">
				<a
					href="#corner-angle"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Corner Angle</a
				>
			</h4>
			<p class="mt-4">
				1 Means the prop will rotate to match the intersection if it's near it. The value 0.5 is used for traffic lights to not be
				perpendicular to the road at angled intersections.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="probability">
				<a
					href="#probability"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Probability</a
				>
			</h4>
			<p class="mt-4">Percentage chance of the prop appearing.</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="segments">
				<a href="#segments" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Segments</a
				>
			</h2>
			<p class="mt-4">
				Segments can be the main mesh of your network, or also used for specific segments, like a bus stop on one side, bus stop on
				both sides.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="flags-1">
				<a href="#flags-1" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Flags</a
				>
			</h4>
			<p class="mt-4">Required and forbidden conditions for each direction which determine when the segment will appear.</p>
			<p class="mt-4">
				<Link classes="" href="#flags" text="Read more about flags." theme="internallink" />
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="disable-bend-nodes">
				<a
					href="#disable-bend-nodes"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Disable Bend Nodes</a
				>
			</h4>
			<p class="mt-4">Disables using the segment as a node on turns which exceed the Max Turn Angle.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="road-color">
				<a href="#road-color" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Road Color</a
				>
			</h4>
			<p class="mt-4">The upward road (asphalt) texture will get multiplied by this color.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="shader">
				<a href="#shader" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Shader</a
				>
			</h3>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="basic">
				<a href="#basic" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Basic</a
				>
			</h4>
			<p class="mt-4">
				Used for ground-level roads. Instead of alpha being used for making the mesh transparent, it shows the underlying terrain
				such as grass or ruined. Will have weird normals/shading in many situations. Doesn't display normal maps.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="bridge">
				<a href="#bridge" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Bridge</a
				>
			</h4>
			<p class="mt-4">Used for elevated roads and bridges.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="rail">
				<a href="#rail" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Rail</a
				>
			</h4>
			<p class="mt-4">Same as bridge but shows gravel instead of pavement.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="wire">
				<a href="#wire" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Wire</a
				>
			</h4>
			<p class="mt-4">
				Used for power lines, tram wires, and cable car cables. Has <Link
					classes=""
					href="#wire-shader"
					text="specific mesh requirements"
					theme="internallink"
				/>.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="fence">
				<a href="#fence" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Fence</a
				>
			</h4>
			<p class="mt-4">
				Conforms to terrain, used for Parklife fences. Can't be used for nodes. Can't be used in combination with segments/nodes
				which have other shaders. Lane props may not match the terrain conforming network depending on the AI and other settings.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="nodes">
				<a href="#nodes" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Nodes</a
				>
			</h2>
			<p class="mt-4">Nodes can be used for intersections, sharp turns, transitions, dead-ends.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="flags-2">
				<a href="#flags-2" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Flags</a
				>
			</h4>
			<p class="mt-4">Required and forbidden conditions for each direction which determine when the node will appear.</p>
			<p class="mt-4">
				<Link classes="" href="#flags" text="Read more about flags." theme="internallink" />
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="connect-group-1">
				<a
					href="#connect-group-1"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Connect Group</a
				>
			</h4>
			<p class="mt-4">
				Limits the node to connect to networks which have this connect group. Works only when direct connect is enabled.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="direct-connect">
				<a
					href="#direct-connect"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Direct Connect</a
				>
			</h4>
			<p class="mt-4">
				Instead of splitting a node mesh in half and connecting each side separately, connects each segment in an intersection to
				every other segment. This is used for train tracks.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="shader-1">
				<a href="#shader-1" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Shader</a
				>
			</h3>
			<p class="mt-4">
				<Link classes="" href="#shader" text="Same as for segments." theme="internallink" />
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="flags">
				<a href="#flags" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Flags</a
				>
			</h2>
			<p class="mt-4">
				There are many node, segment, and lane flags, and some of them might have different uses and results in different
				situations, so their descriptions might be incomplete or not relevant in all cases.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="node-flags">
				<a href="#node-flags" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Node</a
				>
			</h3>
			<p class="mt-4">Node flags are used to determine when certain nodes or lane props appear.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-created">
				<a
					href="#node-flag-created"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Created</a
				>
			</h4>
			<p class="mt-4">Active for all created nodes.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-deleted">
				<a
					href="#node-flag-deleted"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Deleted</a
				>
			</h4>
			<p class="mt-4">Unknown.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-original">
				<a
					href="#node-flag-original"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Original</a
				>
			</h4>
			<p class="mt-4">Active for nodes of networks which were on the map originally, not created by the user.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-disabled">
				<a
					href="#node-flag-disabled"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Disabled</a
				>
			</h4>
			<p class="mt-4">Unknown.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-end">
				<a
					href="#node-flag-end"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">End</a
				>
			</h4>
			<p class="mt-4">Active for a dead end - where the road ends.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-middle">
				<a
					href="#node-flag-middle"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Middle</a
				>
			</h4>
			<p class="mt-4">Active for nodes between 2 segments of the same network.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-bend">
				<a
					href="#node-flag-bend"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Bend</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes for sharp corners where a road changes direction suddenly and nodes where an asymmetric network changes
				direction.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-junction">
				<a
					href="#node-flag-junction"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Junction</a
				>
			</h4>
			<p class="mt-4">Active for nodes which are intersections and transitions between 2 different networks.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-moveable">
				<a
					href="#node-flag-moveable"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Moveable</a
				>
			</h4>
			<p class="mt-4">
				Possibly related to nodes which will be automatically moved when creating an intersection which splits a segment into two.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-untouchable">
				<a
					href="#node-flag-untouchable"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Untouchable</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes of networks which are placed within buildings, and therefore can't be deleted or upgraded under normal
				circumstances.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-outside">
				<a
					href="#node-flag-outside"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Outside</a
				>
			</h4>
			<p class="mt-4">Active for nodes which are at the edge of the map and connected to the "outside world".</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-temporary">
				<a
					href="#node-flag-temporary"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Temporary</a
				>
			</h4>
			<p class="mt-4">Unknown.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-double">
				<a
					href="#node-flag-double"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Double</a
				>
			</h4>
			<p class="mt-4">
				Active for the "middle" node of a double length network. For example - the node where the big pillar for highway suspension
				bridges is.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-fixed">
				<a
					href="#node-flag-fixed"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Fixed</a
				>
			</h4>
			<p class="mt-4">
				Related to public transport line stops, unlikely to be related to normal networks created by the player directly.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-onground">
				<a
					href="#node-flag-onground"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">OnGround</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes which are on the ground, as opposed to being part of an elevated, bridge, or tunnel network. Likely to be
				based on the AI of the network.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-ambiguous">
				<a
					href="#node-flag-ambiguous"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Ambiguous</a
				>
			</h4>
			<p class="mt-4">Unknown. Likely to be related to automatically generated "transport lines" from the "outside world".</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-water">
				<a
					href="#node-flag-water"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Water</a
				>
			</h4>
			<p class="mt-4">Related to water/sewage pipes.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-sewage">
				<a
					href="#node-flag-sewage"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Sewage</a
				>
			</h4>
			<p class="mt-4">Related to water/sewage pipes.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="node-flag-forbidlaneconnection">
				<a
					href="#node-flag-forbidlaneconnection"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>ForbidLaneConnection</a
				>
			</h4>
			<p class="mt-4">Related to invisible networks such as pedestrian paths, ship dock or busway networks.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-underground">
				<a
					href="#node-flag-underground"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Underground</a
				>
			</h4>
			<p class="mt-4">Active for nodes of networks which are tunnels.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-transition">
				<a
					href="#node-flag-transition"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Transition</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes between networks which have different "levels". For roads - dirt road is level 1 and the other roads have
				level 2 - 5 based on their UI category.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-levelcrossing">
				<a
					href="#node-flag-levelcrossing"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LevelCrossing</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes which are train/road intersections. But also could be used for other things such as the canal lowered end
				node.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-onewayout">
				<a
					href="#node-flag-onewayout"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">OneWayOut</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes which have literally only one way out - only one network with lanes which lead "out" from the current node.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-trafficlights">
				<a
					href="#node-flag-trafficlights"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">TrafficLights</a
				>
			</h4>
			<p class="mt-4">Active for nodes which have traffic lights.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-onewayin">
				<a
					href="#node-flag-onewayin"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">OneWayIn</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes which have literally only one way in - only one network with lanes which lead "in" from the surrounding
				nodes.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-heating">
				<a
					href="#node-flag-heating"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Heating</a
				>
			</h4>
			<p class="mt-4">Related to water/sewage/heating pipes.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-electricity">
				<a
					href="#node-flag-electricity"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Electricity</a
				>
			</h4>
			<p class="mt-4">Related to power line networks.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-collapsed">
				<a
					href="#node-flag-collapsed"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Collapsed</a
				>
			</h4>
			<p class="mt-4">Unknown. Likely related to Natural Disasters DLC.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="node-flag-disableonlymiddle">
				<a
					href="#node-flag-disableonlymiddle"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>DisableOnlyMiddle</a
				>
			</h4>
			<p class="mt-4">Related to ship paths.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-asymforward">
				<a
					href="#node-flag-asymforward"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">AsymForward</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes where an asymmetric network changes direction from backward to forward, related to the direction in which
				the player draws the road.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="node-flag-asymbackward">
				<a
					href="#node-flag-asymbackward"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">AsymBackward</a
				>
			</h4>
			<p class="mt-4">
				Active for nodes where an asymmetric network changes direction from forward to backward, related to the direction in which
				the player draws the road.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="node-flag-customtrafficlights">
				<a
					href="#node-flag-customtrafficlights"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>CustomTrafficLights</a
				>
			</h4>
			<p class="mt-4">Active for nodes for which the player has toggled traffic lights.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="segment-flags">
				<a
					href="#segment-flags"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Segment</a
				>
			</h3>
			<p class="mt-4">Segment flags are used to determine when certain segments appear or how they appear.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-created">
				<a
					href="#segment-flag-created"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Created</a
				>
			</h4>
			<p class="mt-4">Active for all created segments.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-deleted">
				<a
					href="#segment-flag-deleted"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Deleted</a
				>
			</h4>
			<p class="mt-4">Unknown.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-original">
				<a
					href="#segment-flag-original"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Original</a
				>
			</h4>
			<p class="mt-4">Active for segments of networks which were on the map originally, not created by the user.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-collapsed">
				<a
					href="#segment-flag-collapsed"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Collapsed</a
				>
			</h4>
			<p class="mt-4">Unknown. Likely related to Natural Disasters DLC.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-invert">
				<a
					href="#segment-flag-invert"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Invert</a
				>
			</h4>
			<p class="mt-4">
				Active for every other segment of a continuously drawn network. Can be used to prevent the segment mesh from flipping every
				other segment.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-untouchable">
				<a
					href="#segment-flag-untouchable"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Untouchable</a
				>
			</h4>
			<p class="mt-4">
				Active for segments of networks which are placed within buildings, and therefore can't be deleted or upgraded under normal
				circumstances.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-end">
				<a
					href="#segment-flag-end"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">End</a
				>
			</h4>
			<p class="mt-4">Active for a dead end - where the road ends.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-bend">
				<a
					href="#segment-flag-bend"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Bend</a
				>
			</h4>
			<p class="mt-4">
				Used to display a bend segment mesh where a <Link
					classes=""
					href="/asset/network/#node-flag-bend"
					text="Bend node"
					theme="internallink"
				/> is.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-waitingpath">
				<a
					href="#segment-flag-waitingpath"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">WaitingPath</a
				>
			</h4>
			<p class="mt-4">
				Related to transport lines and combustion engine ban district policy. Unlikely to be related to normal networks created by
				the player directly.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-pathfailed">
				<a
					href="#segment-flag-pathfailed"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">PathFailed</a
				>
			</h4>
			<p class="mt-4">
				Related to transport lines and pathfinding. Unlikely to be related to normal networks created by the player directly.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-pathlength">
				<a
					href="#segment-flag-pathlength"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">PathLength</a
				>
			</h4>
			<p class="mt-4">
				Related to transport lines and pathfinding. Unlikely to be related to normal networks created by the player directly.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="segment-flag-accessfailed">
				<a
					href="#segment-flag-accessfailed"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">AccessFailed</a
				>
			</h4>
			<p class="mt-4">Related to pathfinding.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="segment-flag-trafficstart">
				<a
					href="#segment-flag-trafficstart"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">TrafficStart</a
				>
			</h4>
			<p class="mt-4">Related to traffic light state. Also active for some "end" segments of networks using decoration wall AI.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-trafficend">
				<a
					href="#segment-flag-trafficend"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">TrafficEnd</a
				>
			</h4>
			<p class="mt-4">Related to traffic light state. Also active for some "end" segments of networks using decoration wall AI.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="segment-flag-crossingstart">
				<a
					href="#segment-flag-crossingstart"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">CrossingStart</a
				>
			</h4>
			<p class="mt-4">
				Related to traffic light state. Also active for some "end" segments of cable car networks, canals, or decoration walls.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-crossingend">
				<a
					href="#segment-flag-crossingend"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">CrossingEnd</a
				>
			</h4>
			<p class="mt-4">
				Related to traffic light state. Also active for some "end" segments of cable car networks, canals, or decoration walls.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-stopright">
				<a
					href="#segment-flag-stopright"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">StopRight</a
				>
			</h4>
			<p class="mt-4">Active for segments with a bus stop on the right side based on the direction the road was built.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-stopleft">
				<a
					href="#segment-flag-stopleft"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">StopLeft</a
				>
			</h4>
			<p class="mt-4">Active for segments with a bus stop on the left side based on the direction the road was built.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-stopright2">
				<a
					href="#segment-flag-stopright2"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">StopRight2</a
				>
			</h4>
			<p class="mt-4">Active for segments with a tram stop on the right side based on the direction the road was built.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-stopleft2">
				<a
					href="#segment-flag-stopleft2"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">StopLeft2</a
				>
			</h4>
			<p class="mt-4">Active for segments with a tram stop on the left side based on the direction the road was built.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-heavyban">
				<a
					href="#segment-flag-heavyban"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">HeavyBan</a
				>
			</h4>
			<p class="mt-4">Active for segments inside a district which has the heavy traffic ban policy.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-blocked">
				<a
					href="#segment-flag-blocked"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Blocked</a
				>
			</h4>
			<p class="mt-4">Unknown. Likely related to traffic simulation when a building fire blocks nearby segments.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-flooded">
				<a
					href="#segment-flag-flooded"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Flooded</a
				>
			</h4>
			<p class="mt-4">Active for segments which are flooded with water.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-bikeban">
				<a
					href="#segment-flag-bikeban"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">BikeBan</a
				>
			</h4>
			<p class="mt-4">Active for segments inside a district which has the bike ban policy.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-carban">
				<a
					href="#segment-flag-carban"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">CarBan</a
				>
			</h4>
			<p class="mt-4">Active for segments inside a district which has the old town policy.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-asymforward">
				<a
					href="#segment-flag-asymforward"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">AsymForward</a
				>
			</h4>
			<p class="mt-4">
				Used to display an asymmetric segment mesh where an <Link
					classes=""
					href="/asset/network/#node-flag-asymforward"
					text="AsymForward node"
					theme="internallink"
				/> is.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="segment-flag-asymbackward">
				<a
					href="#segment-flag-asymbackward"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">AsymBackward</a
				>
			</h4>
			<p class="mt-4">
				Used to display an asymmetric segment mesh where an <Link
					classes=""
					href="/asset/network/#node-flag-asymbackward"
					text="AsymBackward node"
					theme="internallink"
				/> is.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-customname">
				<a
					href="#segment-flag-customname"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">CustomName</a
				>
			</h4>
			<p class="mt-4">Active for segments which have a custom street name assigned by the player.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="segment-flag-namevisible1">
				<a
					href="#segment-flag-namevisible1"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">NameVisible1</a
				>
			</h4>
			<p class="mt-4">Active for segments which display the street name.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="segment-flag-namevisible2">
				<a
					href="#segment-flag-namevisible2"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">NameVisible2</a
				>
			</h4>
			<p class="mt-4">Active for segments which display the street name.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-yieldstart">
				<a
					href="#segment-flag-yieldstart"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">YieldStart</a
				>
			</h4>
			<p class="mt-4">
				Active for segments which have a player assigned stop sign at the start of the segment based on the direction it was built.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="segment-flag-yieldend">
				<a
					href="#segment-flag-yieldend"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">YieldEnd</a
				>
			</h4>
			<p class="mt-4">
				Active for segments which have a player assigned stop sign at the end of the segment based on the direction it was built.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lane-flags">
				<a href="#lane-flags" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Lane</a
				>
			</h3>
			<p class="mt-4">Lane flags can be used to control when lane props are visible.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-created">
				<a
					href="#lane-flag-created"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Created</a
				>
			</h4>
			<p class="mt-4">Active for all lanes of created networks.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-deleted">
				<a
					href="#lane-flag-deleted"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Deleted</a
				>
			</h4>
			<p class="mt-4">Unknown.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-inverted">
				<a
					href="#lane-flag-inverted"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Inverted</a
				>
			</h4>
			<p class="mt-4">Active for all lanes on left side traffic maps.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-joinedjunction">
				<a
					href="#lane-flag-joinedjunction"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">JoinedJunction</a
				>
			</h4>
			<p class="mt-4">
				Related to very short segments, with intersections on both sides. Used to hide traffic lights on such segments.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-forward">
				<a
					href="#lane-flag-forward"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Forward</a
				>
			</h4>
			<p class="mt-4">Likely active for all "forward" lanes based on the direction the road was built.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-left">
				<a
					href="#lane-flag-left"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Left</a
				>
			</h4>
			<p class="mt-4">Used for arrow decal lane props.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-right">
				<a
					href="#lane-flag-right"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Right</a
				>
			</h4>
			<p class="mt-4">Used for arrow decal lane props.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-merge">
				<a
					href="#lane-flag-merge"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Merge</a
				>
			</h4>
			<p class="mt-4">Likely active for lanes which continue to merge to a lower amount of lanes.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-stop">
				<a
					href="#lane-flag-stop"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Stop</a
				>
			</h4>
			<p class="mt-4">Active for lanes which are bus stops. Used in combination with Stop2 for sightseeing bus stops.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-stop2">
				<a
					href="#lane-flag-stop2"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Stop2</a
				>
			</h4>
			<p class="mt-4">Active for lanes which are tram stops. Used in combination with Stop for sightseeing bus stops.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-yieldstart">
				<a
					href="#lane-flag-yieldstart"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">YieldStart</a
				>
			</h4>
			<p class="mt-4">
				Active for lanes of segments which have a player assigned stop sign at the start of the segment based on the direction it
				was built.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-yieldend">
				<a
					href="#lane-flag-yieldend"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">YieldEnd</a
				>
			</h4>
			<p class="mt-4">
				Active for lanes of segments which have a player assigned stop sign at the end of the segment based on the direction it was
				built.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="lane-flag-startonewayleft">
				<a
					href="#lane-flag-startonewayleft"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>StartOneWayLeft</a
				>
			</h4>
			<p class="mt-4">
				Likely active for lanes which begin after splitting off from the right side of a one-way road at a significant enough angle,
				the same angle required for the previous lane to get the Right flag.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="lane-flag-startonewayright">
				<a
					href="#lane-flag-startonewayright"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>StartOneWayRight</a
				>
			</h4>
			<p class="mt-4">
				Likely active for lanes which begin after splitting off from the left side of a one-way road at a significant enough angle,
				the same angle required for the previous lane to get the Left flag. Also used for "no right turn" signs.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-endonewayleft">
				<a
					href="#lane-flag-endonewayleft"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">EndOneWayLeft</a
				>
			</h4>
			<p class="mt-4">
				Likely active for lanes of a one-way road which is about to merge with another one-way road from the left side at a
				significant enough angle, the same angle required for the other one-way road to get the Left flag. Also used for "no left
				turn" signs.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lane-flag-endonewayright">
				<a
					href="#lane-flag-endonewayright"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">EndOneWayRight</a
				>
			</h4>
			<p class="mt-4">
				Likely active for lanes of a one-way road which is about to merge with another one-way road from the right side at a
				significant enough angle, the same angle required for the other one-way road to get the Right flag.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="mesh">
				<a href="#mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Mesh</a
				>
			</h2>
			<p class="mt-4"></p><div class="flex flex-col gap-6 mt-4 lg:flex-row">
				<div class="lg:w-2/3">
					<p>
						The mesh for segments and nodes usually is an extruded profile, but some also have railings or other details. The
						mesh itself is usually 64 meters long, and it will always stretch for the entire segment, so it's not recommended to
						rely on the segment mesh for anything else other than the extruded profile, and use lane props for other details
						(like fence beams) instead.
					</p><p class="mt-4">
						The mesh is also subdivided multiple times, usually 16. The more subdivisions, the smoother it will look when
						bending.
					</p><p class="mt-4">
						Node meshes used for intersections require a cut through the middle, so the game can split it, also the center
						vertex will be placed in the middle of the intersection.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/network/netmesh.jpg" target="_blank">
						<Picture
							width={images.netmesh.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.netmesh}
							alt="Vanilla six-lane road segment mesh"
							class="w-full h-auto"
						/></a
					><p class="explanation">Vanilla six-lane road segment mesh.</p>
				</div>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="uv-mapping">
				<a href="#uv-mapping" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>UV Mapping</a
				>
			</h3>
			<p class="mt-4"></p>
			<div class="flex flex-col gap-6 mt-4 lg:flex-row">
				<div class="lg:w-2/3">
					<p>
						Normally you only have control over the horizontal (U) UV mapping (horizontal/vertical is called UV when talking
						about the texture image itself) because the game will automatically tile it along the segment approximately every 20
						meters depending on how long the segment is.
					</p><p class="mt-4">
						You may have details for which you want to disable this automatic tiling, this can be done using vertex paint - by
						setting the green channel for those parts to 0, which means those parts would be 255,0,255 (magenta). This will make
						sure the texture is exactly as you UV map it, so it will stretch together with the segment.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/network/netuv.jpg" target="_blank">
						<Picture
							width={images.netuv.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.netuv}
							alt="A road mesh, its uv mapping, and how it appears ingame using tiling or vertex color"
							class="w-full h-auto"
						/></a
					><p class="explanation">A road mesh, its uv mapping, and how it appears ingame using tiling or vertex color.</p>
				</div>
			</div>
			<div class="flex items-start justify-start gap-2 mt-6">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xml:space="preserve"
					class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
					viewBox="0 0 32 32">
					<path
						d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
					></path>
				</svg>
				<p class="italic">
					<em>
						You can use <Link
							classes=""
							href="https://steamcommunity.com/sharedfiles/filedetails/?id=1274199764"
							text="the Network Tiling mod"
							theme="externallink"
						/> to change how much the texture is tiled along the segments and nodes. Tiled textures with alpha mapping will cast
						shadows which will not have the tiling.
					</em>
				</p>
			</div>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="lod-uv-mapping">
				<a
					href="#lod-uv-mapping"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LOD</a
				>
			</h4>
			<p class="mt-4">
				For the LOD mesh, the UV mapping must be within the 0-1 area (main tile) of the UV map, no tiling is allowed. This is
				because ingame all the LOD textures are combined into a single texture called an atlas, so having incorrect uv mapping will
				end up putting the texture of some other random network on your LOD.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="wire-shader">
				<a
					href="#wire-shader"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Wire Shader</a
				>
			</h3>
			<div class="flex flex-col gap-6 mt-4 lg:flex-row">
				<div class="lg:w-2/3">
					<p>
						The wire shader requires a specific kind of mesh - each "wire" should be a vertical plane, which can be subdivided
						and curved like the vanilla powerlines.
					</p><p class="mt-4">
						It should be UV Mapped horizontally from -1 to 1 but the height of the uv mapping depends on the height of the mesh,
						for example - on the vanilla powerline mesh each wire is 4m high, so the UV mapping vertically goes from -2 to 2.
					</p><p class="mt-4">
						The vertex paint green channel must be 0. The blue channel controls the amount of sway in the wind, 0 means no sway.
						The red channel controls the phase of the sway.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/network/netwire.jpg" target="_blank">
						<Picture
							width={images.netwire.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.netwire}
							alt="The vanilla powerline wire mesh showing vertex paint and uv mapping"
							class="w-full h-auto"
						/></a
					><p class="explanation">The vanilla powerline wire mesh showing vertex paint and uv mapping.</p>
				</div>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lod-mesh">
				<a href="#lod-mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>LOD Mesh</a
				>
			</h3>
			<p class="mt-4">The LOD mesh should not be outside the half-width, otherwise it might display incorrectly.</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="textures">
				<a href="#textures" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Textures</a
				>
			</h2>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="diffuse">
				<a href="#diffuse" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Diffuse</a
				>
			</h3>
			<div class="flex flex-col gap-6 mt-4 lg:flex-row">
				<div class="lg:w-2/3">
					<p>Just like any diffuse texture, defines the main color of the network.</p><p class="mt-4">Defaults to white.</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/network/netdiff.jpg" target="_blank">
						<Picture
							width={images.netdiff.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.netdiff}
							alt="An example diffuse texture for an expressway"
							class="w-full h-auto"
						/></a
					><p class="explanation">An example diffuse texture for an expressway.</p>
				</div>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="alpha">
				<a href="#alpha" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Alpha</a
				>
			</h3>
			<p class="mt-4">
				When black, on the basic shader, it displays the terrain underneath, on other shaders it works like an alpha map usually
				would.
			</p>
			<p class="mt-4">Black means invisible, white is visible. Defaults to white.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="pavement">
				<a href="#pavement" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Pavement</a
				>
			</h3>
			<p class="mt-4">Usually displays the map theme pavement texture, but for the rail shader - it shows gravel instead.</p>
			<p class="mt-4">Black means no pavement, white means pavement. Defaults to black, unless no diffuse is imported.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="road">
				<a href="#road" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Road</a
				>
			</h3>
			<p class="mt-4">Displays the map theme upward road (asphalt) texture, which also is multiplied by the segment color.</p>
			<p class="mt-4">Black means no asphalt, white means asphalt. Defaults to black.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="normal">
				<a href="#normal" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Normal</a
				>
			</h3>
			<p class="mt-4">Works similarly to any other normal map.</p>
			<p class="mt-4">
				Doesn't require any inverted channels for parts which are vertex painted magenta, but it does require the green channel to
				be inverted for parts using the automatic tiling.
			</p>
			<p class="mt-4">
				Read more in the <Link classes="" href="/normal-maps/" text="normal map article" theme="internallink" />.
			</p>
			<p class="mt-4">Defaults to flat.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="specular">
				<a href="#specular" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Specular</a
				>
			</h3>
			<p class="mt-4">Just like any specular.</p>
			<p class="mt-4">Defaults to black.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lod-textures">
				<a
					href="#lod-textures"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LOD Textures</a
				>
			</h3>
			<p class="mt-4">
				Even if you don't need a diffuse texture (because the network uses only asphalt and/or pavement), you should still import a
				diffuse texture for the LOD, otherwise the LOD will import incorrectly.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="save-update">
				<a
					href="#save-update"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Save &amp; Update</a
				>
			</h2>
			<p class="mt-4">
				Saving, loading, and resaving a network asset which has elevations (elevated, bridge, slope, tunnel) may rename the
				elevations. This can result in previously placed networks disappearing from a savegame, or even breaking the savegame.
			</p>
			<p class="mt-4">
				<Link
					classes=""
					href="https://gist.github.com/ronyx69/466ec13af77d6b44fcf50f7a8d2af152"
					text="A script"
					theme="externallink"
				/> can be used to rename the elevations based on the asset name. You should only run this script when the asset is finished,
				saved with the final name it should have, loaded again, but not yet placed in a save game. And when updating a network which
				was saved with this script, the script should be reapplied every time before it is resaved.
			</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="adaptive-roads">
				<a
					href="#adaptive-roads"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Adaptive Roads</a
				>
			</h2>
			<p class="mt-4">
				<Link
					classes=""
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=2414618415"
					text="Adaptive Roads by kian.zarrin"
					theme="externallink"
				/>
				 is a mod which extends the capabilities and UI of the network editor
			</p>
		</div>
	</section>
</MainLayout>
