---
import MainLayout from '../../layouts/MainLayout.astro';
import Link from '../../components/Link.astro';
import TableOfContents from '../../components/TableOfContents.astro';
const title = 'Vehicle Asset Creation - Cities Skylines Modding';
import { Picture } from 'astro:assets';
import { images } from '../../data/imageImports.js';
---

<MainLayout title={title}>
	<TableOfContents />
	<section class="pt-12 pb-48 sm:ml-64 xl:mr-64 text-lg text-hit-gray-500">
		<h1 id="overview" class="border-b-4 border-hit-gray-600 pb-8 text-4xl font-bold text-hit-gray-400">Vehicle Asset Creation</h1>
		<div class="content">
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="mesh">
				<a href="#mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Mesh</a
				>
			</h2>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="main-mesh">
				<a href="#main-mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Main Mesh</a
				>
			</h3>
			<p class="mt-4">This is a 3D model of the vehicle, which will be visible when the camera is close to it.</p>
			<p class="mt-4">
				It's created using 3D modeling software such as Blender, 3ds Max, Maya or SketchUp.<br />The actual mesh file contains
				vertices (their coordinates, UV mapping, normals, and colors) and triangles.
			</p>
			<p class="mt-4">
				Continuously connected parts of the mesh (called elements) which are closer than 5cm to 0 (ground) will be automatically
				detected as wheels. This is not relevant for ships, monorails, cable cars.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="model-complexity">
				<a
					href="#model-complexity"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Model Complexity</a
				>
			</h4>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>
						It's recommended to stay within reasonable triangle counts based on the size and detail of your model. You may look
						at examples of vanilla vehicles or assets by other creators for reference.
					</p><p class="mt-4">The absolute limit for a mesh is 65536 vertices.</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/vehicle/vetristext.jpg" target="_blank">
						<Picture
							width={images.vetristext.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.vetristext}
							alt="Triangle counts of some vanilla vehicles"
							class="h-auto w-full"
							loading="eager"
						/></a
					><p class="explanation">Triangle counts of some vanilla vehicles.</p>
				</div>
			</div>
			<div class="flex gap-2 mt-6 items-start justify-start">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xml:space="preserve"
					class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
					viewBox="0 0 32 32">
					<path
						d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
					></path>
				</svg>
				<p class="italic">
					<em>
						You can use <Link
							classes=""
							href="https://steamcommunity.com/sharedfiles/filedetails/?id=453956891"
							text="Mesh Info by SamsamTS"
							theme="externallink"
						/> to check triangle counts of assets.
					</em>
				</p>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lod-mesh">
				<a href="#lod-mesh" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>LOD Mesh</a
				>
			</h3>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>LOD stands for level of detail. This is the mesh visible from a distance. It must be as simple as possible.</p><p
						class="mt-4">
						If you don't provide an LOD mesh, the game will try to generate one automatically, which may have visual issues, so
						it's highly recommended to make a custom LOD mesh.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/vehicle/vemainlodcomp.jpg" target="_blank">
						<Picture
							width={images.vemainlodcomp.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.vemainlodcomp}
							alt="Comparison between main and LOD meshes for the vanilla police car"
							class="h-auto w-full"
						/></a
					><p class="explanation">Comparison between main and LOD meshes for the vanilla police car.</p>
				</div>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="uv-mapping">
				<a href="#uv-mapping" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>UV Mapping</a
				>
			</h3>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>
						For the main mesh, you are allowed to UV map outside the 0-1 area (main tile), so you can tile the entire texture
						multiple times on a single face.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/building/uv_main.jpg" target="_blank"
						><Picture
							width={images.uv_main.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.uv_main}
							alt="Example UV mapping using visible horizontal tiling on the bottom"
							class="h-auto w-full"
						/></a
					><p class="explanation">Example UV mapping using visible horizontal tiling on the bottom.</p>
				</div>
			</div>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="uv-mapping-lod">
				<a
					href="#uv-mapping-lod"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LOD</a
				>
			</h4>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>
						For the LOD mesh, the UV mapping must be within the 0-1 area (main tile) of the UV map, no tiling is allowed. This
						is because ingame all the LOD textures are combined into a single texture called an atlas, so having incorrect uv
						mapping will end up putting the texture of some other random vehicle on your LOD.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/building/uv_lod.jpg" target="_blank"
						><Picture
							width={images.uv_lod.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.uv_lod}
							alt="UV mapping for LOD mesh using automatic mapping in 3ds Max"
							class="h-auto w-full"
						/></a
					><p class="explanation">
						UV mapping for LOD mesh using automatic mapping in 3ds Max. No overlap and contained within the main tile - good for
						baking.
					</p>
				</div>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="pivot-origin">
				<a
					href="#pivot-origin"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Pivot / Origin</a
				>
			</h3>
			<p class="mt-4">
				The pivot point or origin represents the center point on the ground, on which the vehicle will drive. It's usually
				represented using a red/green/blue axis gizmo.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="transform">
				<a href="#transform" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Transform</a
				>
			</h3>
			<p class="mt-4">
				Make sure you are exporting a single object, which doesn't have any rotation or scale.<br />This can be done using <Link
					classes=""
					href="https://wiki.blender.org/index.php/User:Fade/Doc:2.6/Manual/3D_interaction/Transform_Control/Reset_Object_Transformations#Apply_Object_transformations"
					text='"apply rotation & scale" in Blender'
					theme="externallink"
				/>, or <Link
					classes=""
					href="https://knowledge.autodesk.com/support/3ds-max/learn-explore/caas/CloudHelp/cloudhelp/2017/ENU/3DSMax/files/GUID-B98414B9-4F28-45F4-A1F4-9DA994548ED9-htm.html"
					text='"reset xform" in 3ds Max'
					theme="externallink"
				/>, and exporting only the selected object.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="vertex-paint">
				<a
					href="#vertex-paint"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Vertex Paint</a
				>
			</h3>
			<p class="mt-4">
				Vertex colors are automatically generated to determine wheels, which will spin based on the shader of the vehicle.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="formats">
				<a href="#formats" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Formats</a
				>
			</h3>
			<ul class="mt-4 list-disc list-inside">
				<li class="mt-4">FBX (2015 or older) (most commonly used)</li>
				<li class="mt-4">OBJ (doesn't support vertex colors)</li>
				<li class="mt-4">DAE</li>
			</ul>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="textures">
				<a href="#textures" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Textures</a
				>
			</h2>
			<p class="mt-4">These determine the color and material properties of your vehicle.</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="resolution">
				<a href="#resolution" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Resolution</a
				>
			</h3>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>All imported main textures must be the same resolution.</p><p class="mt-4">
						Powers of 2 is a standard practice in 3D graphics, which means resolutions such as 1024x1024, 1024x512, 256x512,
						2048x128 etc. It is recommended to stick to this standard, otherwise, your texture may be corrupted by compression,
						which may be more visible at longer distances or grazing angles. The smallest allowed resolution is 32x32.
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/vehicle/vetristext.jpg" target="_blank">
						<Picture
							width={images.vetristext.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.vetristext}
							alt="Triangle counts of some vanilla vehicles"
							class="h-auto w-full"
						/></a
					><p class="explanation">
						Texture sizes of various vanilla assets. See the resolution in the top right corner of the preview window.
					</p>
				</div>
			</div>
			<div class="flex gap-2 mt-6 items-start justify-start">
				<svg
					class="w-8 h-8 text-orange flex-shrink-0"
					fill="none"
					stroke="currentColor"
					stroke-width="1.5"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
				<p class="italic">
					<em>
						Make sure texture quality is set to high in the game's graphics settings. otherwise, your imported textures will be
						downscaled to a lower resolution.
					</em>
				</p>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lod-textures">
				<a
					href="#lod-textures"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LOD Textures</a
				>
			</h3>
			<p class="mt-4">
				If you don't provide LOD textures, the game will try to bake them using the UV mapping your LOD mesh has, and that may cause
				visual issues, so it's recommended that you create your own LOD textures using baking.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="diffuse">
				<a href="#diffuse" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Diffuse</a
				>
			</h3>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>The main color and texture of your asset.</p><p class="mt-4">
						It will look very bright, contrasty, and saturated in the game, so make sure to reduce the saturation and limit the
						brightest parts to a medium/light gray below 140 RGB.
					</p><p class="mt-4">If you don't import a diffuse map, it will default to white.</p>
				</div><div class="lg:w-1/3">
					<div class="">
						<a href="/images/asset/vehicle/vediff.jpg" target="_blank">
							<Picture
								width={images.vediff.width / 2}
								densities={[1.5, 2]}
								formats={['avif', 'webp']}
								src={images.vediff}
								alt="Example diffuse texture for a vehicle"
								class="h-auto w-full"
							/></a
						><p class="explanation">Example diffuse texture for a vehicle.</p>
					</div><div class="mt-4">
						<a href="/images/asset/building/color_guidelines.png" target="_blank"
							><Picture
								width={images.color_guidelines.width / 2}
								densities={[1.5, 2]}
								formats={['avif', 'webp']}
								src={images.color_guidelines}
								alt="Color guidelines"
								class="h-auto w-full"
							/></a
						><p class="explanation">Color guidelines.</p>
					</div>
				</div>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="alpha">
				<a href="#alpha" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Alpha</a
				>
			</h3>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>
						Transparency, white means opaque or visible, black means transparent or invisible. Gray values may affect how it
						looks from a distance or at an angle.
					</p><p class="mt-4">
						Semi-transparency is not supported, you need to use the <Link
							classes=""
							href="https://www.youtube.com/watch?v=ELoMC1rWOSc"
							text="rotors shader"
							theme="externallink"
						/> for that.
					</p><p class="mt-4">If you don't import an alpha map, it will default to fully opaque or fully visible.</p>
				</div><div class="lg:w-1/3">
					<div class="">
						<a href="/images/asset/building/textures_alpha.jpg" target="_blank"
							><Picture
								width={images.textures_alpha.width / 2}
								densities={[1.5, 2]}
								formats={['avif', 'webp']}
								src={images.textures_alpha}
								alt="Example alpha texture for some railings and metal beams"
								class="h-auto w-full"
							/></a
						><p class="explanation">Example alpha texture for some railings and metal beams.</p>
					</div><div class="mt-4">
						<a href="/images/asset/building/textures_alpha_rail.jpg" target="_blank">
							<Picture
								width={images.textures_alpha_rail.width / 2}
								densities={[1.5, 2]}
								formats={['avif', 'webp']}
								src={images.textures_alpha_rail}
								alt="Example alpha texture for some railings and metal beams"
								class="h-auto w-full"
							/></a
						><p class="explanation">
							Using lighter values for the invisible parts will decrease the chance of small details like railings
							disappearing completely.
						</p>
					</div>
				</div>
			</div>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="color">
				<a href="#color" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Color</a
				>
			</h3>
			<p class="mt-4">
				Determines which parts will be affected by color variations. White means fully affected and black means not at all.
			</p>
			<p class="mt-4">
				The diffuse will get multiplied by the color variation, that means the resulting color will look darker than the original
				diffuse.
			</p>
			<p class="mt-4">
				For emergency vehicles (police, ambulance, firetruck) this determines where the siren is. The sirens are marked white, and
				everything else is black.
			</p>
			<p class="mt-4">
				If you don't import a color map, it will default to full color, but the "use color variations" setting must be enabled for
				the colors to appear.
			</p>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="illumination">
				<a
					href="#illumination"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Illumination</a
				>
			</h3>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="illumination-default">
				<a
					href="#illumination-default"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Default Vehicle</a
				>
			</h4>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>
						For the default vehicle shader (used by cars, trucks, bicycles, scooters, buses, trams), this defines headlights and
						turn signals. The turn signals are 0 (black) the headlights and taillights are 255 (white), everything else is 128
						(medium gray).
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/vehicle/veillum.jpg" target="_blank">
						<Picture
							width={images.veillum.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.veillum}
							alt="Example illumination map for a vehicle"
							class="h-auto w-full"
						/></a
					><p class="explanation">Example illumination map for a vehicle.</p>
				</div>
			</div>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="illumination-train">
				<a
					href="#illumination-train"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Train</a
				>
			</h4>
			<div class="flex flex-col lg:flex-row gap-6 mt-4">
				<div class="lg:w-2/3">
					<p>
						For the train shader, this defines always-on lights (headlights/taillights) and lights which are only on at night
						(windows). The always-on lights are 255 (white) and the night lights are 0 (black), everything else is 128 (medium
						gray).
					</p>
				</div><div class="lg:w-1/3">
					<a href="/images/asset/vehicle/veillumtrain.jpg" target="_blank">
						<Picture
							width={images.veillumtrain.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.veillumtrain}
							alt="Example illumination map for a vehicle"
							class="h-auto w-full"
						/></a
					><p class="explanation">Example illumination map for a train.</p>
				</div>
			</div>
		</div>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="illumination-ship">
			<a
				href="#illumination-ship"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Ship</a
			>
		</h4>
		<p class="mt-4">
			For the ship shader (used by ships, monorails, cable cars), this defines lights which are only on at night (windows). The
			randomly changing night lights are brighter or darker than 128. If they are much darker or brighter than 128 - they will never
			go dark. Everything else is 128 (medium gray).
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="illumination-aircraft">
			<a
				href="#illumination-aircraft"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Aircraft</a
			>
		</h4>
		<p class="mt-4">
			For the aircraft shader (used by helicopters, blimps, planes), this defines lights which are only on at night (windows) and
			always-on diffuse contribution illumination. The window lights are above 128 and the diffuse contribution illumination is below
			128. Everything else is 128 (medium gray).
		</p>
		<p class="mt-4">If you don't import an illumination map, it will default to black.</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="specular">
			<a href="#specular" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Specular</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>
					Reflectivity, white values will become "windows" where the fake interior floor will be visible. <Link
						classes=""
						href="#floor"
						text="It's possible to control this fake floor using a script"
						theme="internallink"
					/>.
				</p><p class="mt-4">
					The specular highlight from the sun is very big and bright, so you might want to use very low (0-10%) specularity for
					surfaces facing upwards, like roofs.
				</p><p class="mt-4">If you don't import a specular map, it will default to no specularity.</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/building/textures_specular_transition.jpg" target="_blank"
					><Picture
						width={images.textures_specular_transition.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.textures_specular_transition}
						alt="Transitions between different specular values produce artifacts on the normal map and vice versa"
						class="h-auto w-full"
					/></a
				><p class="explanation">
					Transitions between different specular values produce artifacts on the normal map and vice versa, even if a normal map
					is not imported.
				</p>
			</div>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="normal">
			<a href="#normal" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Normal</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>Also sometimes called a bump map, adds fake depth or form by affecting how the lighting appears.</p><p class="mt-4">
					This can be made from the diffuse or a height map (brighter colors will look extruded out more) using <Link
						classes=""
						href="http://cpetry.github.io/NormalMap-Online/"
						text="a normal map generator online"
						theme="externallink"
					/>, a photoshop plugin like <Link classes="" href="http://www.xnormal.net/" text="xNormal" theme="externallink" />, or
					standalone software such as <Link classes="" href="https://www.crazybump.com/" text="CrazyBump" theme="externallink" />.
				</p><p class="mt-4">
					The normal map generator should be set to +X +Y, which means no color channel inversions are required. Read more in the <Link
						classes=""
						href="/normal-maps/"
						text="normal map article"
						theme="internallink"
					/>.
				</p><p class="mt-4">
					High specularity and normal map don't work well together because of the compression, so you might want to paint over
					shiny parts with a solid color before generating a normal map or paint over these parts 128,128,255 on the final normal
					map.
				</p><p class="mt-4">If you don't import a normal map, it will default to a flat normal map - no bump.</p>
			</div><div class="lg:w-1/3">
				<div class="">
					<a href="/images/asset/citizen/citnormal.jpeg" target="_blank"
						><Picture
							width={images.citnormal.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.citnormal}
							alt="Example normal map for rocks"
							class="h-auto w-full"
						/></a
					><p class="explanation">Example normal map for rocks.</p>
				</div><div class="mt-4">
					<a href="/images/asset/building/textures_normal_problem.jpg" target="_blank"
						><Picture
							width={images.textures_normal_problem.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.textures_normal_problem}
							alt="Example normal map problem"
							class="h-auto w-full"
						/></a
					><p class="explanation">Problem: normal maps appear incorrectly if the asset importer mesh rotation feature is used.</p>
				</div>
				<div class="mt-4">
					<a href="/images/asset/building/textures_normal_problem2.jpg" target="_blank">
						<Picture
							width={images.textures_normal_problem2.width / 2}
							densities={[1.5, 2]}
							formats={['avif', 'webp']}
							src={images.textures_normal_problem2}
							alt="Image shows the same flat normal map on faces with different UV rotation/flip"
							class="h-auto w-full"
						/>
					</a><p class="explanation">
						Problem: default normal map value is 0.5, which isn't possible by using 127(left) or 128(right). Image shows the
						same flat normal map on faces with different UV rotation/flip.
					</p>
				</div>
			</div>
		</div>

		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="format">
			<a href="#format" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Format</a
			>
		</h3>
		<p class="mt-4">Use a lossless format like .PNG.</p>
		<p class="mt-4">
			The game supports other formats as well, but there is no reason to use another one, it doesn't matter how much your texture is
			compressed or even if it's completely solid or complicated, the game will convert it to a DXT format, so the final size won't be
			affected by anything other than resolution.
		</p>
		<p class="mt-4">
			Make sure the texture is 8 bits/channel because a 16 bits/channel image can't be imported. Do not use the "Smaller File (8-bit)"
			feature in the Photoshop Export As window, as that creates an indexed color image, not an 8 bits/channel one.
		</p>
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="import">
			<a href="#import" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Import</a
			>
		</h2>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="example-asset">
			<a href="#example-asset" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Example Asset</a
			>
		</h3>
		<p class="mt-4">Source files of an example vehicle ready for import.</p>
		<div class="content-download mt-4">
			<Link
				classes=""
				href="https://drive.google.com/open?id=1p63jdL4yuuKIJ5p_wDALO7R78C-adJG8"
				text="Download"
				theme="downloadbutton"
			/>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="naming">
			<a href="#naming" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Naming</a
			>
		</h3>
		<p class="mt-4">
			The mesh can have any name, but it's not recommended to use spaces or underscores, as the name for the lod mesh name will be
			meshname_lod.
		</p>
		<p class="mt-4">
			The textures must have the same name as the mesh, but with the texture type identifier after it, so the result will be names
			like meshname_d.png and meshname_lod_d.png
		</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="import-folder">
			<a href="#import-folder" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Import Folder</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>You should place the mesh and texture files in the import folder located here:</p><p class="mt-4">
					<span class="path">%LocalAppData%\Colossal Order\Cities_Skylines\Addons\Import</span>
				</p><p class="mt-4">
					The AppData folder is hidden by default, you can access it by copying and pasting the path into the file explorer, or
					pressing <span class="key">Windows + R</span> and typing in appdata.
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/vehicle/veimportfolder.jpg" target="_blank">
					<Picture
						width={images.veimportfolder.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.veimportfolder}
						alt="Files ready for import"
						class="h-auto w-full"
					/>
				</a><p class="explanation">Files ready for import.</p>
			</div>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="template">
			<a href="#template" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Template</a
			>
		</h3>
		<p class="mt-4">The template you choose will determine many things about your building:</p>
		<ul class="mt-4 list-disc list-inside">
			<li class="mt-4">AI and corresponding stats (like capacity for cargo, or passengers for a plane)</li>
			<li class="mt-4">trailers</li>
			<li class="mt-4">max speed</li>
			<li class="mt-4">light effects and their position</li>
			<li class="mt-4">Item class (defines service, for example industrial - farming for the tractor)</li>
			<li class="mt-4">use color variations</li>
			<li class="mt-4">shader, material properties (color variations)</li>
		</ul>
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg xmlns="http://www.w3.org/2000/svg"
   xml:space="preserve"
   class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
   viewBox="0 0 32 32"
   >
   <path
      d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
      ></path>
</svg
   >
			<p class="italic">
				<em>
					All of those things can be changed later in the editor itself or using <Link
						classes=""
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484"
						text="ModTools"
						theme="externallink"
					/> or other mods.
				</em>
			</p>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="import-1">
			<a href="#import-1" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Import</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>
					After you choose your mesh, depending on how it was exported, you might need to set the correct scale and rotation,
					scale 100 and rotating 3 times around X-axis are common necessities.
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/vehicle/veimportmesh.jpg" target="_blank">
					<Picture
						width={images.veimportmesh.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.veimportmesh}
						alt="Importing a mesh in asset importer"
						class="h-auto w-full"
					/>
				</a><p class="explanation">Importing a mesh in asset importer.</p>
			</div>
		</div>
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				class="w-8 h-8 text-orange flex-shrink-0"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
			<p class="italic">
				<em>
					Using the mesh rotation feature will result in broken mesh tangents - that means the normal maps will appear incorrectly
					or not at all on some parts. To fix this, don't use the rotation feature and make sure the mesh is rotated properly
					before import. If you need to use the mesh rotation feature - use the <Link
						classes=""
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1518485094"
						text="Mesh Import Rotation Tangents Fix mod"
						theme="externallink"
					/> to fix it.
				</em>
			</p>
		</div>
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				class="w-8 h-8 text-orange flex-shrink-0"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
			<p class="italic">
				<em>
					If you get an unsupported color error, one of your textures might be a 16 bits/channel file, you need to change it to 8
					bits/channel, in Photoshop: Image &gt; Mode &gt; 8 Bits/Channel.
				</em>
			</p>
		</div>
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				class="w-8 h-8 text-orange flex-shrink-0"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
			<p class="italic">
				<em>
					If the mesh preview doesn't display or you can't continue, you may have a problem with it such as multiple mesh objects,
					other entities like dummies, cameras, lights, or layers in the exported file.
				</em>
			</p>
		</div>
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="editor">
			<a href="#editor" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Editor</a
			>
		</h2>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="general-properties">
			<a
				href="#general-properties"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">General Properties</a
			>
		</h3>
		<ul class="mt-4 list-disc list-inside">
			<li class="mt-4">max speed</li>
			<li class="mt-4">use color variations</li>
		</ul>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="lights">
			<a href="#lights" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Lights</a
			>
		</h3>
		<p class="mt-4">You can change the positions of light effects.</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="trailers">
			<a href="#trailers" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Trailers</a
			>
		</h3>
		<p class="mt-4">
			You can add other vehicles as trailers which are attached to your vehicle, this is used for cargo trailers, train/tram cars.
		</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="material-properties">
			<a
				href="#material-properties"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Material properties</a
			>
		</h3>
		<p class="mt-4">You can change the 4 color variations.</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="sub-meshes">
			<a href="#sub-meshes" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Sub-meshes</a
			>
		</h3>
		<p class="mt-4">
			You can add additional meshes as sub-meshes, which appear only when certain conditions are met, for example - the vanilla bus
			has a left hand traffic sub-mesh, and the forestry trailer has a loaded trailer sub-mesh.
		</p>
		<p class="mt-4">
			Train trailers can display different sub-meshes based on the cargo type they are carrying using <Link
				classes=""
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=1552053911"
				text="this mod"
				theme="externallink"
			/>.
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flags">
			<a href="#sub-mesh-flags" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Sub-mesh Flags</a
			>
		</h4>
		<p class="mt-4">
			Flags are required and forbidden conditions, which determine when the sub-mesh shows up, and also when the main mesh is hidden.
		</p>
		<p class="mt-4">
			There are many flags and their use is not always obvious so their descriptions might be incomplete or not relevant in all cases.
		</p>
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				class="w-8 h-8 text-hoverlink flex-shrink-0 fill-hoverlink"
				viewBox="0 0 32 32">
				<path
					d="M16 4C9.4 4 4 9.4 4 16s5.4 12 12 12 12-5.4 12-12S22.6 4 16 4zm0 22c-5.5 0-10-4.5-10-10S10.5 6 16 6s10 4.5 10 10-4.5 10-10 10zm0-12c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1s1-.4 1-1v-6c0-.6-.4-1-1-1zm0-4c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
				></path>
			</svg>
			<p class="italic">
				<em>
					By default, not all sub-mesh flags (conditions) are visible, use <Link
						classes=""
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1393831156"
						text="the sub-mesh Flags mod"
						theme="externallink"
					/> to show all flags in the asset editor UI.
				</em>
			</p>
		</div>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-parked">
			<a
				href="#sub-mesh-flag-parked"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Parked</a
			>
		</h4>
		<p class="mt-4">Restricts the sub-mesh to only appear when the vehicle is parked.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-created">
			<a
				href="#sub-mesh-flag-created"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Created</a
			>
		</h4>
		<p class="mt-4">Active for all non-parked vehicles.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-deleted">
			<a
				href="#sub-mesh-flag-deleted"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Deleted</a
			>
		</h4>
		<p class="mt-4">Unknown.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-spawned">
			<a
				href="#sub-mesh-flag-spawned"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Spawned</a
			>
		</h4>
		<p class="mt-4">Likely active for all spawned vehicles.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-inverted">
			<a
				href="#sub-mesh-flag-inverted"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Inverted</a
			>
		</h4>
		<p class="mt-4">
			Active for vehicle trailers which have been inverted based on the invert probability of the trailer. Usually used for randomly
			inverted train passenger cars and the last trailer of a train - the inverted train engine.
		</p>
		<h4
			class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
			id="sub-mesh-flag-transfertotarget">
			<a
				href="#sub-mesh-flag-transfertotarget"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">TransferToTarget</a
			>
		</h4>
		<p class="mt-4">
			Unknown. Usually active for vehicles going to a target, such as trucks exporting, importing, returning to facility, or trains
			going to the next station.
		</p>
		<h4
			class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
			id="sub-mesh-flag-transfertosource">
			<a
				href="#sub-mesh-flag-transfertosource"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">TransferToSource</a
			>
		</h4>
		<p class="mt-4">Unknown. Usually active for garbage trucks collecting garbage.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-emergency1">
			<a
				href="#sub-mesh-flag-emergency1"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Emergency1</a
			>
		</h4>
		<p class="mt-4">Likely used for firetrucks. Also used for blimps to display different ads.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-emergency2">
			<a
				href="#sub-mesh-flag-emergency2"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Emergency2</a
			>
		</h4>
		<p class="mt-4">
			Active for police cars responding to an emergency. Likely also used for ambulances and firetrucks. Also used for blimps to
			display different ads.
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-waitingpath">
			<a
				href="#sub-mesh-flag-waitingpath"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">WaitingPath</a
			>
		</h4>
		<p class="mt-4">Unknown. Likely active while the vehicle is waiting for its path to be calculated.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-stopped">
			<a
				href="#sub-mesh-flag-stopped"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Stopped</a
			>
		</h4>
		<p class="mt-4">
			Active for train engines stopped at a station, taxis stopped to pick up a passenger, and emergency vehicles which have arrived
			at the emergency.
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-leaving">
			<a
				href="#sub-mesh-flag-leaving"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Leaving</a
			>
		</h4>
		<p class="mt-4">Active for train engines which are about to leave, but haven't started moving yet.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-arriving">
			<a
				href="#sub-mesh-flag-arriving"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Arriving</a
			>
		</h4>
		<p class="mt-4">
			Active for train engines arriving to a stop before they are fully stopped. Also active for taxis carrying a passenger.
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-reversed">
			<a
				href="#sub-mesh-flag-reversed"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Reversed</a
			>
		</h4>
		<p class="mt-4">Active for a train or monorail engine which is going backwards.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-takingoff">
			<a
				href="#sub-mesh-flag-takingoff"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">TakingOff</a
			>
		</h4>
		<p class="mt-4">Active for planes which are in the process of taking off. Also required for the left pole of a trolleybus.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-flying">
			<a
				href="#sub-mesh-flag-flying"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Flying</a
			>
		</h4>
		<p class="mt-4">Active for planes which are flying in the air.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-landing">
			<a
				href="#sub-mesh-flag-landing"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Landing</a
			>
		</h4>
		<p class="mt-4">Active for planes which are in the process of landing. Also required for the right pole of a trolleybus.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-waitingspace">
			<a
				href="#sub-mesh-flag-waitingspace"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">WaitingSpace</a
			>
		</h4>
		<p class="mt-4">Unknown.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-waitingcargo">
			<a
				href="#sub-mesh-flag-waitingcargo"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">WaitingCargo</a
			>
		</h4>
		<p class="mt-4">Unknown.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-goingback">
			<a
				href="#sub-mesh-flag-goingback"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">GoingBack</a
			>
		</h4>
		<p class="mt-4">
			Active for vehicles which are going back to where they came from - such as garbage tracks returning to their facility or trucks
			which have imported their goods and are leaving the map.
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-waitingtarget">
			<a
				href="#sub-mesh-flag-waitingtarget"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">WaitingTarget</a
			>
		</h4>
		<p class="mt-4">Unknown. Likely active while a vehicle waits for where to go next.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-importing">
			<a
				href="#sub-mesh-flag-importing"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Importing</a
			>
		</h4>
		<p class="mt-4">Active for vehicles which are for importing goods, even when they are returning to facility.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-exporting">
			<a
				href="#sub-mesh-flag-exporting"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Exporting</a
			>
		</h4>
		<p class="mt-4">Active for vehicles which are for exporting goods, even when they are returning to facility.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-parking">
			<a
				href="#sub-mesh-flag-parking"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Parking</a
			>
		</h4>
		<p class="mt-4">Active for vehicles which are in the process of parking.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-customname">
			<a
				href="#sub-mesh-flag-customname"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">CustomName</a
			>
		</h4>
		<p class="mt-4">Active for vehicles which the played has renamed.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-ongravel">
			<a
				href="#sub-mesh-flag-ongravel"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">OnGravel</a
			>
		</h4>
		<p class="mt-4">Active when a vehicle is driving on a network which activates this flag, such as a gravel road.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-waitingloading">
			<a
				href="#sub-mesh-flag-waitingloading"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">WaitingLoading</a
			>
		</h4>
		<p class="mt-4">Active for cargo trains which are being loaded with cargo.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-congestion">
			<a
				href="#sub-mesh-flag-congestion"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Congestion</a
			>
		</h4>
		<p class="mt-4">Unknown, may be related to vehicles despawning when stuck in traffic.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-dummytraffic">
			<a
				href="#sub-mesh-flag-dummytraffic"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">DummyTraffic</a
			>
		</h4>
		<p class="mt-4">Active for vehicles which are "background traffic" driving from and to map outside connections.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-underground">
			<a
				href="#sub-mesh-flag-underground"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Underground</a
			>
		</h4>
		<p class="mt-4">Active when a vehicle is driving on a network which activates this flag, such as tunnels.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-transition">
			<a
				href="#sub-mesh-flag-transition"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Transition</a
			>
		</h4>
		<p class="mt-4">Active when a vehicle is driving on a network which activates this flag, such as slopes.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-insidebuilding">
			<a
				href="#sub-mesh-flag-insidebuilding"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">InsideBuilding</a
			>
		</h4>
		<p class="mt-4">Unknown, related to bicycles.</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="sub-mesh-flag-lefthanddrive">
			<a
				href="#sub-mesh-flag-lefthanddrive"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">LeftHandDrive</a
			>
		</h4>
		<p class="mt-4">Active for all vehicles when playing on a left hand traffic maps.</p>
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="editor-advanced">
			<a
				href="#editor-advanced"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Editor Advanced</a
			>
		</h2>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>
					Various things can be changed with the use of <Link
						classes=""
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=450877484"
						text="ModTools"
						theme="externallink"
					/> scene explorer <span class="key">Ctrl+E</span> or running scripts in the console <span class="key">F7</span>, or
					specific mods.
				</p><p class="mt-4">
					Many vehicle settings can be changed using <Link
						classes=""
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=800820816"
						text="Extended Asset Editor by Acc3ss Violation"
						theme="externallink"
					/>
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/building/modtools.jpg" target="_blank">
					<Picture
						width={images.modtools.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.modtools}
						alt="ModTools scene explorer and console"
						class="h-auto w-full"
					/>
				</a><p class="explanation">ModTools scene explorer and console.</p>
			</div>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="speed-suspension-more">
			<a
				href="#speed-suspension-more"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Speed, Suspension &amp; More</a
			>
		</h3>
		<p class="mt-4">
			See more advanced speed and suspension related properties in <Link
				classes=""
				href="/modtools/#vehicle"
				text="the ModTools article"
				theme="internallink"
			/>.
		</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="ai">
			<a href="#ai" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">AI</a>
		</h3>
		<p class="mt-4">
			AI defines what kind of vehicle it is and how it behaves. It can be changed using <Link
				classes=""
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=421616513"
				text="Asset AI Changer by Snow_Cat & cerebellum"
				theme="externallink"
			/>.
		</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="item-class">
			<a href="#item-class" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Item Class</a
			>
		</h3>
		<p class="mt-4">
			Contains information about what type of vehicle it is. It can be changed using <Link
				classes=""
				href="https://steamcommunity.com/sharedfiles/filedetails/?id=455068042"
				text="Asset ItemClass Changer by Snow_Cat"
				theme="externallink"
			/>.
		</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="floor">
			<a href="#floor" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Floor</a
			>
		</h3>
		<p class="mt-4">
			You can use <Link
				classes=""
				href="https://gist.github.com/ronyx69/bfd09d2a7cddad6c71d407c74e45bb71"
				text="this script"
				theme="externallink"
			/> to change the parameters of the fake floor which is visible in fully specular windows.
		</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="sub-mesh-1">
			<a href="#sub-mesh-1" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Sub-meshes</a
			>
		</h3>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="trailer-sub-mesh">
			<a
				href="#trailer-sub-mesh"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Trailer Sub-mesh</a
			>
		</h4>
		<p class="mt-4">
			When loading a trailer template, the sub-mesh UI doesn't show up. To fix this, open the scene explorer, go to <span class="path"
				>Tool Controller &gt; ToolController &gt; m_editPrefabInfo &gt; m_placementStyle</span
			>
			 and set it to automatic, save and load the asset, the sub-mesh UI should show up. Once you add the sub-mesh, change <span
				class="path">m_placementStyle</span
			> back to procedural and save your asset.
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="trailer-sub-mesh">
			<a
				href="#trailer-sub-mesh"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Sub-mesh Flags</a
			>
		</h4>
		<p class="mt-4">
			The flags for the main mesh and sub-meshes are oversimplified in the UI. The main mesh conditions are actually just like for any
			sub-mesh, and the regular flags and parked flags are separate fields. You can change them using <Link
				classes=""
				href="https://gist.github.com/ronyx69/ab2e3fdcbab5f78c9b41a337c1d19280"
				text="this script"
				theme="externallink"
			/>.
		</p>
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="save">
			<a href="#save" title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Save</a>
		</h2>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="filename">
			<a href="#filename" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Filename</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>
					The filename input is on the bottom left, this is what the actual file will be called. It's not recommended to use
					spaces, dots, or special symbols.
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/vehicle/vesave.jpg" target="_blank">
					<Picture
						width={images.vesave.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.vesave}
						alt="Save asset window"
						class="h-auto w-full"
					/>
				</a><p class="explanation">Save asset window.</p>
			</div>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="asset-name">
			<a href="#asset-name" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Asset Name</a
			>
		</h3>
		<p class="mt-4">The asset name visible ingame.</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="images">
			<a href="#images" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Images</a
			>
		</h3>
		<p class="mt-4">There are 2 different folders you can open by clicking the folder icons:</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="snapshot">
			<a href="#snapshot" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Snapshot</a
			>
		</h4>
		<p class="mt-4">
			On the snapshot image, bottom right corner. Use this one to replace the snapshot, you can replace it with a 1x1 px image to save
			on the asset file size. This image will only be visible in the content manager. It will also default as the Steam preview image,
			but you can change that separately when publishing.
		</p>
		<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="thumbnail-tooltip">
			<a
				href="#thumbnail-tooltip"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Thumbnail &amp; Tooltip</a
			>
		</h4>
		<p class="mt-4">
			Below thumbnail, on the right side. Use this one to change the thumbnail (109x100) and tooltip (492x147) of your asset.<br />
			Once you change the main thumbnail, the hover/active states will update automatically.
		</p>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="local-assets-folder">
			<a
				href="#local-assets-folder"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Local Assets Folder</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>Once the asset is saved, the .crp file will appear in the local assets folder:</p><p class="mt-4">
					<span class="path">%LocalAppData%\Colossal Order\Cities_Skylines\Addons\Assets</span>
				</p><p class="mt-4">
					The AppData folder is hidden by default, you can access it by copying and pasting the path into the file explorer, or
					pressing <span class="key">Windows+R</span> and typing in appdata.
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/building/local.jpg" target="_blank">
					<Picture
						width={images.local.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.local}
						alt="CRP files in the local assets folder"
						class="h-auto w-full"
					/>
				</a><p class="explanation">CRP files in the local assets folder.</p>
			</div>
		</div>
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="publish">
			<a href="#publish" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Publish</a
			>
		</h2>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>Once you have saved the asset and reloaded the game, you can publish the asset.</p><p class="mt-4">
					Go to the content manager &gt; assets and find your asset, then click share.
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/building/share.jpg" target="_blank">
					<Picture
						width={images.share.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.share}
						alt="Share button in content manager"
						class="h-auto w-full"
					/>
				</a><p class="explanation">Share button in content manager.</p>
			</div>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="title-and-description">
			<a
				href="#title-and-description"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Title and Description</a
			>
		</h3>
		<p class="mt-4">You can change these on the Steam Workshop later.</p>
		<h3
			class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500"
			id="steam-preview-image-and-content-folder">
			<a
				href="#steam-preview-image-and-content-folder"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Steam Preview Image and Content Folder</a
			>
		</h3>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>
					There is a folder icon again on the snapshot image, bottom right corner. Here you can change the Steam preview image,
					which is the thumbnail visible on steam. The largest size the image will be visible is 437x437 (on the front page) but
					it will get upscaled to 512x512 by Steam so that's the size you should use.
				</p><p class="mt-4">
					There is also the content folder, which is where the actual asset file is. You can paste multiple .crp files here if you
					would like to upload a pack of assets.
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/building/publish.jpg" target="_blank">
					<Picture
						width={images.publish.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.publish}
						alt="Publish window and content folder"
						class="h-auto w-full"
					/>
				</a><p class="explanation">Publish window and content folder.</p>
			</div>
		</div>
		<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="steam-workshop">
			<a href="#steam-workshop" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Steam Workshop</a
			>
		</h3>
		<p class="mt-4">On the Steam Workshop page for your asset, you can:</p>
		<ul class="mt-4 list-disc list-inside">
			<li class="mt-4">add it to a collection<br /></li>
			<li class="mt-4">add images and videos<br /></li>
			<li class="mt-4">add contributors and links<br /></li>
			<li class="mt-4">add required items and DLC<br /></li>
			<li class="mt-4">change visibility to friends only or private</li>
		</ul>
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="update">
			<a href="#update" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Update</a
			>
		</h2>
		<p class="mt-4">
			To update your own item, you must subscribe to it first, then it will show up in the content manager. It won't be the same as a
			local asset, as it will show an "update" button.
		</p>
		<p class="mt-4">
			When you click update, click the folder icon, and now you can change the Steam preview image and put your new asset in the
			content folder. If updating a pack, remember to put all the assets inside the content folder.
		</p>
		<p class="mt-4">You can also add more assets to make it a bigger pack.</p>
		<div class="flex gap-2 mt-6 items-start justify-start">
			<svg
				class="w-8 h-8 text-orange flex-shrink-0"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
			<p class="italic">
				<em>
					Make sure your updated assets are saved with exactly the same name as before, otherwise, it will disappear from your
					subscribers' saves, as the game uses the internal prefab name to refer to it. In the case of networks (roads, tracks
					etc.) it may completely break a save.
				</em>
			</p>
		</div>
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="prefab-name">
			<a href="#prefab-name" title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
				>Prefab Name</a
			>
		</h2>
		<div class="flex flex-col lg:flex-row gap-6 mt-4">
			<div class="lg:w-2/3">
				<p>This is not something you can change.</p><p class="mt-4">
					It's the hidden internal name used to refer to your asset in savefiles.
				</p><p class="mt-4">It's the reason why a local asset is not the same as a workshop published asset.</p><p class="mt-4">
					For local assets: filename.Asset Name_Data<br />For published workshop assets: SteamID.Asset Name_Data
				</p>
			</div><div class="lg:w-1/3">
				<a href="/images/asset/building/prefab.jpg" target="_blank">
					<Picture
						width={images.prefab.width / 2}
						densities={[1.5, 2]}
						formats={['avif', 'webp']}
						src={images.prefab}
						alt="Publish window and content folder"
						class="h-auto w-full"
					/>
				</a><p class="explanation">
					Comparison between local (top) and workshop published (bottom) prefab names shown in ModTools.
				</p>
			</div>
		</div>
		<!-- ?Video Section -->
		<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="relevant-videos">
			<a
				href="#relevant-videos"
				title="Click to generate a direct link to this section in the browser's address bar for easy sharing.">Relevant Videos</a
			>
		</h2>
		<ul class="text-lg mt-4 text-hit-gray-500 list-inside">
			<li>
				<h3 class="mt-4" id="sub-meshes">
					<Link href="https://youtube.com/watch?v=K0bsYvreks4" theme="youtube" text="Sub-meshes" classes="" />
				</h3>
			</li>

			<li>
				<h3 class="mt-4" id="decide-color-variations-ingame">
					<Link href="https://youtube.com/watch?v=K3wnhJjyvkw" theme="youtube" text="Decide Color Variations Ingame" classes="" />
				</h3>
			</li>
		</ul>
	</section>
</MainLayout>
